/* IE page styles */

/*header*/
#header form.search {
  display: inline;
  vertical-align: top;
  background: url(../images/v2/home/backgrounds/searchbox-bg.jpg);
  width: 482px;
  position: absolute;
  margin-left: 36px;
  margin-top: 5px;
  left: 160px;
  top: 0px;
}
#header form.search label {
  font-family: Verdana;
  font-size: 15px;
  color: #3ea307;
  font-weight: bold;
  display: inline;
  text-indent: -9999px;
  background: url(../images/v2/masthead/magnifying-glass.png) no-repeat;
  width: 52px;
  height: 58px;
  position: absolute;
  left: -24px;
  z-index: 2;
}
#header form.search label.placeholder {
  display: block;
  position: absolute;
  left: -24px;
  text-indent: -2px;
  background: none;
  width: 350px;
  z-index: 2;
  padding: 8px 0 2px 35px;
  color: #ccc;
  font-family: arial;
}
#header form.search input.text {
  width: 388px;
  height: 30px;
  position: absolute;
  /*top: 4px;*/
  font-size: 15px;
  font-weight: bold;
  color: #333;
  border: 1px solid #a8a8a8;
  font-family: Helvetica;
  padding: 5px 0 0 32px;
  z-index: 1;
  margin-top: 1px;
}
#search_button {
  position: absolute;
  left: 377px;
  top: 1px;
  display: inline-block;
  width: 99px;
  height: 30px;
  border: none;
  font-weight: bold;
  background: url(../images/v2/masthead/search-btn-99x30.png) no-repeat;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

/*index page*/
#logos, #info {
  width: 960px;
}
#browse .tabs a {
  height: 41px;
}
#coverphoto fieldset.basic input.text {
  padding-top: 7px;
}
/*search list page*/
body.serp #pickers {
  top: 142px;
}
body.serp #results_container div.map_container {
  width: 100%;
}
body.serp #results_container div.map_container #big_map_canvas,
body.serp #results_container .map {
  height: 728px;
}
body.serp div.info_window div.info_right {
  float: right;
}
#search_results li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
  display: block;
}
#search_results .site_features li {
  padding: 0;
  border-width: 0;
}
#search_results li div {
  vertical-align:top;
  display: inline;
}
#search_results li div *{
  display: block;
}
a.toggle_map_view {
  font-size: 12px;
  color: #0259a0;
  float: none;
}
#search_results .facility span, #search_results .facility a {
  display: inline;
}
#site_features li {
  border-top-width: 0px;
  padding: 0;
}
#search_results .rent_me a {
  display: inline-block;
  background:  url("../images/v2/buttons/btn-rent-me-110x48.png") no-repeat;
  width: 110px;
  height:48px;
  color: #fff;
  font-size: 0px;
  line-height: 0;
  text-indent: 0;
}
/* Site details */
body.site_detail .container_detail {
  margin-top: 10px;
  position: relative;
  width: 960px;
}
body.site_detail .vcard div {
  float: left;
  display:inline-block;
}
body.site_detail .vcard .site_logo {
  margin-right: 20px;
  width: 250px;
}
body.site_detail .rent_me div {
  padding: 12px 12px;
  border-color: #aaa;
  border-width: 1px 0 0 0;
  border-style: solid;
}
body.site_detail .rent_me div.price .original_price {
  font-size: 16px;
  font-weight: normal;
  color: red;
  text-decoration: line-through;
}

body.site_detail .rent_me div.price {
  font: 22px arial, verdana, helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 0;
  vertical-align: bottom;
  text-align: center;
}

body.site_detail .rent_me div.rent_reserve {
  padding-bottom: 4px;
}

body.site_detail .rent_me div.price,
body.site_detail .rent_me div.rent_reserve {
  border-width: 0px;
}

body.site_detail .rent_me div.price .per_month {
  font-size: 12px;
  font-weight: normal;
  border-top-width: 0;
  padding: 0;
}

body.site_detail .rent_me div.rent_reserve .guarantee {
  background: url("../images/v2/site_detail/checkmark-20x19.png") no-repeat;
  background-position: 50px center;
  padding: 13px 0 10px 75px;
  font-weight: bold;
  color: #3EA307;
  border-top-width: 0;
}

body.site_detail .rent_me div.move_in_date {
  padding-top: 15px;
  padding-bottom: 30px;
  font-weight: bold;
}

body.site_detail .rent_me div.move_in_date a.edit_date {
  padding-left: 28px;
  background: url("../images/icn-calendar.png") no-repeat;
  background-position: left top;
  float: right;
  position: absolute;
  display: inline-block;
  text-decoration: none;
  line-height: 100%;
  margin: -3px 0 0 56px;
}
body.site_detail .rent_me div.move_in_date a.edit_date .date_label {
  font-weight:bold;
  color: black;
  border-top-width: 0;
  padding: 2px 0 2px 0;
}
body.site_detail .rent_me div.move_in_date a.edit_date .link {
  text-decoration: underline;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
  border-top-width: 0;
  padding: 2px;
}

body.site_detail .rent_me div.unit_info ul {
  line-height: 110%;
  font-size: 12px;
  margin-bottom: 7px;
}
body.site_detail .rent_me div.unit_info ul.amenities {
  margin-top: 8px;
  margin-left: -11px;
}
body.site_detail .rent_me div.unit_info a.view_more {
  float: right;
  font-size: 11px;
  margin-top: 1px;
}
body.site_detail .rent_me div.unit_info .promos a.view_more {
  margin-top: 0px;
  /*float: right;*/
}
body.site_detail .rent_me div.unit_info .promos .label,
body.site_detail .rent_me div.unit_info .promos a.view_more {
  font-weight: normal;
}
body.site_detail .rent_me div.unit_info .promos {
  margin-top: 5px;
  font-weight: bold;
  color: red;
  border-top-width: 0;
  padding: 0;
}
body.site_detail .rent_me div.unit_info .promos ul {
  display: none;
}
body.site_detail .rent_me .move_in_quote .move_in_cost {
  /*float: right;*/
  display: inline-block;
  position: absolute;
  padding: 2px 0 0 95px;
}
body.site_detail .rent_me div.move_in_quote h4 {
  margin-bottom: 4px;
}
body.site_detail .rent_me div.move_in_quote p {
  font: 11px arial, verdana, helvetica, sans-serif;
  margin-top: 2px;
}
body.site_detail a.help_button {
  display: inline-block;
  position: relative;
  background: url("../images/v2/buttons/help-12x12.png") no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  margin-left: 3px;
}
body.site_detail .site_features div {
  float: left;
}
body.site_detail .panes .overview ul.action_links {
  display: inline-block;
  width: 65px;
  position: relative;
  float: right;
}
body.site_detail .panes .overview ul.action_links li {
  width: 63px;
}
/*contest page begin */
#contestformdiv tr.orgprop table.inner {
    width: 330px;
    margin-right: 0px;
}
#contestformdiv table {
    width: 330px;
}
#contestformdiv tr.orgprop tr.right label.right {
  padding-left: 162px;
}
/*contest page end*/
/*site detail page begin*/
body.site_detail .panes .overview .photos {
  position: relative;
}
body.site_detail .panes .overview .all_units ul li {
  padding: 10px 0 0 0;
  border-top: 1px solid #CCC;
  padding-left: 150px;
  vertical-align: top;
  height: 100px;
  background: url("../images/v2/unit-size-placeholder-151x86.jpg") -10px center no-repeat;
}
body.site_detail .panes .overview .all_units ul.amenities li {
  background: none;
  padding: 0;
  border-width: 0;
  height: auto;
}
body.site_detail .panes .overview .all_units ul li div{
  display: inline;
  float: left;
}
body.site_detail .panes .overview .all_units .rent_me input.rent_me_button {
  font-size: 0;
  line-height: 0;
  display: block;
}
body.site_detail .panes .overview .all_units .rent_me div.price {
  padding-left: 30px;
  padding-right: 0;
}
body.site_detail .panes .overview div.yelp_rating .yelp_logo {
  margin-top: 3px;
}
body.site_detail .rent_me div.rent_reserve input.rent_me_button {
  display: block;
  background: url("../images/v2/site_detail/rent-me-275x56.png") no-repeat;
  width: 275px;
  height: 56px;
  text-indent: -9999px;
  border-width: 0;
  font-size: 0;
  line-height: 0;
}
body.site_detail .rent_me div.rent_reserve input.reserve_me_button {
  display: block;
  background: url("../images/v2/site_detail/reserve-me-275x56.png") no-repeat;
  width: 275px;
  height: 56px;
  text-indent: -9999px;
  border-width: 0;
  font-size: 0;
  line-height: 0;
}
body.site_detail .rent_me .unit_info h4 {
  display: inline;
}
body.site_detail .rent_me .unit_info div {
  border-width: 0;
  padding-bottom: 0;
  padding-top: 0;
}
body.site_detail .rent_me .move_in_quote table.summary {
  width: 92%;
}
body.site_detail .rent_me .move_in_quote table.summary td{
  width: auto;
}
body.site_detail .rent_me .move_in_quote tr.total span {
  display: inline;
  clear: both
}
body.site_detail .rent_me .move_in_quote .cost_breakdown {
  border-top-width: 0;
  display: none;
  padding: 0;
}
body.site_detail .panes #directionMap {
  display: block;
  vertical-align: top;
}
body.site_detail .panes #directionMap #directionMapCanvas {
  display: inline;
  vertical-align: top;
}
body.site_detail .panes #directionMap #facilityHours {
  display: inline;
  float: none;
  vertical-align: top;
  margin-left: 20px;
}
body.site_detail .panes #directionMap #facilityHours table.operatingHours tr {
  line-height: 11px;
}
body.site_detail .panes .dirInstructions h2 {
  display: inline;
  margin-bottom: 0;
}
body.site_detail .panes div.ieLeft {
  float: none;
  display: inline;
}
body.site_detail .panes div.ieLeft div.checkout_value {
  float: none;
}
body.site_detail .panes div.ieDivContainer {
  display: block;
  position: relative;
  padding-top: 15px;
}
body.site_detail .panes div.ieDivContainer input#getDirections {
  position: absolute;
  left: 332px;
  top: 16px;
}
body.site_detail .panes #dirPanel  #directionsSteps tr.directionStep {
  border-bottom: 1px solid #dfdfdf;
}
body.site_detail .panes div.ieDivContainer #shareThis {
  position: absolute;
  top: -5px;
  left: 100px;
}
body.site_detail .panes #yelp_reviews {
  padding-top: 10px;
}
/*site detail page end*/
/*thankyou page begin*/
body.thankyou .conf_box {
  padding-right: 0px;
}
body.thankyou .conf_box h1 {
  margin-left: 15px;
}
body.thankyou .conf_box h2 {
  margin-left: 15px;
}
body.thankyou .conf_box p {
  margin: 10px 0 0 15px;
}
body.thankyou .conf_box .userInfo p {
  margin: 7px 0 0 0;
}
body.thankyou .conf_box * p {
  margin: 0;
}
body.thankyou .conf_box span {
  display: inline-block;
}
body.thankyou .conf_box .icons span.icn_label {
  height: 65px;
}
body.thankyou .conf_box .column {
  display: inline;
  margin: 30px 7px 0 0;
}
body.thankyou .conf_box .extColumn {
  margin: 30px, 7px, 0 0;
}
body.thankyou .conf_box .userInfo div,
body.thankyou .conf_box .icons div,
body.thankyou .conf_box .storageInfo div,
body.thankyou .conf_box .promos div {
  margin-left: 15px;
}
body.thankyou .conf_box .storageInfo * div {
  margin-left: 0;
}
body.thankyou .conf_box .storageInfo .hours p {
  width: auto;
}
body.thankyou .conf_box .extColumn,
body.thankyou .conf_box .extColumn div {
  display: inline;
}
body.thankyou .conf_box .promos div.column {
  background-color: gray;
  border-radius: 10px;
  height: 110px;
  text-align: center;
  padding-top: 10px;
  color: #A7A7A7;
}
body.thankyou #purchaseSummary div {
  padding: 12px;
}
body.thankyou #purchaseSummary div div {
  padding: 0;
}
body.thankyou #purchaseSummary .site_info {
  position: relative;
  padding-bottom: 12px;
}
body.thankyou #purchaseSummary .total_cost {
  width: 320px;
}
body.thankyou #purchaseSummary .total_cost h2,
body.thankyou #purchaseSummary .total_cost span {
  display: inline;
}
body.thankyou #purchaseSummary .total_cost h2 {
  margin-right: 95px;
}
body.thankyou #purchaseSummary .total_cost span {
  float: none;
}
/*thankyou page end*/
/*begin checkout page (some fixes also in application.js*/
body.checkout input.rent_me_button {
  font-size: 0;
  line-height: 0;
}
body.checkout input.typeText.zipcode {
  width: 130px;
}
body.checkout input.typeText.cvv2 {
  width: 100px;
}
body.checkout .ccimages {
  margin: 5px 0 0 0;
}
body.checkout .customer_info h1.first {
  height: 30px;
}
body.checkout .customer_info h1.pay .col2 p {
  margin-bottom: 5px;
}
body.checkout #booking_summary h1 {
  color: #00529b;
  padding: 15px 12px 5px 12px;
}
body.checkout .move_in_quote table.summary th {
  font-weight: normal;
}
body.checkout .move_in_quote table.summary tr.total td {
  text-align: right;
}
body.checkout #booking_summary .unit_info {
  margin-right: -24px;
}
body.checkout .cost_breakdown {
  margin: 5px -36px 5px -12px;
}
/* end checkout page*/
/*direction share page*/
#directionMap #facilityHours {
  float: none;
  display: inline;
  vertical-align: top;
  margin-left: 20px;
}
#directionMap #directionMapCanvas {
  display: inline;
}
#directionMap {
  display: block;
  position: relative;
}
.dirInstructions h2 {
  display: inline;
  margin-bottom: 0;
}
.dirInstructions {
  display: block;
  margin-left: 3px;
}
div.ieDivContainer {
  display: block;
  position: relative;
  padding-top: 15px;
}
div.ieDivContainer input#getDirections {
  position: absolute;
  top: 16px;
  left: -2px;
}
#dirPanel {
  width: 560px;
}

