/* ------------------------------------------------------------------------------------- */
/* GENERIC PAGE STYLES */

body {
  font-family: Helvetica, Arial, san-serif;
  font-size: 12px;
  background: white;
  background-image: url(../images/v2/home/backgrounds/topbar.gif);
  background-repeat: repeat-x;
  /*background-color: #fafafa;*/
  background-position: 0 -12px;
  padding-top: 28px;
  padding-left: 97px;
  width: 960px;
}

p {
  color: #333;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  clear: left;
}

h2 {
  font-size: 13px;
  color: #3ea307;
  margin-bottom: 15px;
}

pre {
  font-family: monospace;
  white-space: pre-wrap;
}
a:hover {
  text-decoration: underline;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

.line {
  clear: both;
  width: 100%;
}

.line:after {
  clear: both;
  display: block;
  content: "";
}

.errors {
  width: 630px;
  padding: 15px;
  line-height: 120%;
}
.errors h2 {
  color: red;
  font-size: 14pt;
  line-height: 120%;
}
.errors p b {
  font-weight: bold;
}
.errors p {
  line-height: 120%;
}
.errors li {
  display: list-item;
}
.errors .messages ul {
   margin-top: 10px;
}
.errors .messages {
  display: inline-block;
  margin: 0 3em 0 2em;
  border: 1px solid #ccc;
  padding: 1em;
  background-color: #eee;
}
.errors li .field {
  font-weight: bold;
  margin-right: 0.6em;
}
.toc {
  display: inline-block;
  float: right;
  padding: 1em;
  background-color: #eee;
}
.toc a {
  display: block;
  margin: 5px 5px 10px 0;
}

/* ------------------------------------------------------------------------------------- */
/* HOME PAGE */

#bigbox, #logos, #info, #browse {
  clear: both;
}

#bigbox {
  height: 285px;
  position: relative;
}

#bigbox h2 {
  font-family: Verdana;
  position: absolute;
  left: 175px;
  top: 5px;
  font-size: 19px;
  font-weight: bold;
  color: #3ea307;
  color: #a8a8a8;
}
/*:first-child doesn't work in IE, using CSS .first-child class instead */
#bigbox h2 span.first-child {
  display: block;
  color: #00529b;
  margin-bottom: 2px;
  margin-top: 7px;
}

#coverphoto {
  height: 225px;
  background: url(../images/v2/home/backgrounds/bigbox.jpg) no-repeat;
  clear: both;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  position: relative;
}

#coverphoto form {
  background: url(../images/v2/home/backgrounds/search-box-horiz-bg.jpg) repeat-x;
  /*background: #f9c9d5;*/
  /*background: #f4eaf0;*/
  width: 488px;
  padding: 15px 20px 13px 20px;
  position: absolute;
  left: 393px;
  top: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 6px lightblue;
  border-color: #3EA307;
}

#coverphoto fieldset.basic legend {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  color: #333;
  color: #3ea307;
  height: 25px;
}

#coverphoto fieldset.basic div.controls {
  clear: both;
  position: relative;
  height: 52px;
}

#coverphoto fieldset.basic input.text {
  position: absolute;
  width: 330px;
}

#coverphoto fieldset.basic input.text,
#header form.search input.text {
  display: inline-block;
  height: 37px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 6px lightblue;
  font-family: Helvetica;
  font-size: 18px;
  color: #000;
  padding: 2px 0 0 8px;
  margin-top: 1px;
  z-index: 1;
}

label.placeholder {
    color: #ccc;
    top: 10px;
    left: 10px;
    padding: 8px 0px 2px 6px;
    font-size: 18px;
    z-index: 1;
}
#coverphoto fieldset.basic input.submit {
  position: absolute;
  left: 327px;
  display: inline-block;
  width: 145px;
  height: 38px;
  font-size: 0;
  line-height: 0;
  border: none;
  background: url(../images/v2/home/buttons/btn-find-storage-145x38.png) no-repeat;
  text-indent: -9999px;
  z-index: 0;
}

#coverphoto fieldset.advanced legend {
  font-size: 12px;
  font-family: Helvetica;
  margin-bottom: 10px;
  color: #788792;
  cursor: pointer;
}

#coverphoto fieldset.advanced legend span {
  font-size: 10px;
  font-family: Arial;
  cursor: pointer;
}

#advanced_search_controls {
  display: none;
  font-family: Helvetica;
  font-size: 11px;
  color: #333;
}

#advanced_search_controls .storage_type label {
  font-weight: bold;
}

#advanced_search_controls div {
  margin-right: 40px;
  padding-top: 10px;
  display: inline-block;
  float: left;
  height: 60px;
}

#advanced_search_controls label[for=type_parking] {
  color: #788792;
}

#advanced_search_controls .unit_size label, #advanced_search_controls .unit_type label {
  display: block;
  font-style: italic;
  margin-bottom: 3px;
  padding-left: 3px;
}

#advanced_search_controls .unit_size a, #advanced_search_controls .unit_type a {
  position: relative;
  top: -2px;
  left: 2px;
  display: inline-block;
  background: url(../images/v2/home/buttons/info.png) no-repeat;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
}

#logos {
  clear: both;
  color: #9e9e9e;
  height: 54px;
  font-weight: bold;
  font-size: 11px;
  font-family: Helvetica;
  padding-top: 15px;
  vertical-align: bottom;
  background: url(../images/v2/home/backgrounds/partners-bg.jpg) repeat-x;
  margin-bottom: 28px;
}

#logos span {
  display: inline-block;
  float: left;
  width: 88px;
  margin-left: 10px;
  padding-top: 10px;
}

#logos li {
  /*background-position: 25px;*/
  display: inline-block;
  opacity: 0.3;
  filter: alpha(opacity=30);
  float: left;
  /*margin-left: 25px;*/
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 38px;
}

#logos li:hover, #logos li.hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

#logos li.ustoreit {
  width: 112px;
  background-image: url(../images/v2/home/partner-logos/ustoreit.gif);
}

#logos li.storquest {
  width: 115px;
  background-image: url(../images/v2/home/partner-logos/storquest.gif);
}

#logos li.extraspace {
  width: 84px;
  background-image: url(../images/v2/home/partner-logos/extraspace.gif);
}

#logos li.pricess {
  width: 115px;
  background-image: url(../images/v2/home/partner-logos/pricess.gif);
}

#logos li.safkeep {
  width: 124px;
  background-image: url(../images/v2/home/partner-logos/safkeep.gif);
}

#logos li.usstoragecenters {
  width: 114px;
  background-image: url(../images/v2/home/partner-logos/usstoragecenters.gif);
}

#logos li.devon {
  width: 84px;
  background-image: url(../images/v2/home/partner-logos/devon.gif);
}

#logos li.goldenstate {
  width: 92px;
  background-image: url(../images/v2/home/partner-logos/goldenstate.gif);
}

#info {
  margin-bottom: 20px;
}

#howto {
  float: right;
  width: 480px;
}

#guarantee {
  padding-right: 20px;
  width: 460px;
}

#browse {
  border-top: 1px solid #e8e8e8;
  width: 960px;
}

#browse ul {
  height: 41px;
}

#browse .tabs li {
  float: left;
}

#browse .tabs a {
  display: inline-block;
  color: #aaa;
  font-family: Helvetica;
  float: left;
  width: 192px;
  text-align: center;
  height: 27px;
  padding-top: 14px;
  text-decoration: none;
}

#browse .tabs a.current {
  background-color: #f9f9f9;
}
#browse .tabs a:hover {
  background-color: #f4f4f4;
}

#browse .panes div {
  clear: both;
  display: none;
  padding: 20px 0 10px 10px;
  color: white;
  position: relative;
  background-color: #f9f9f9;
  border-top:  1px solid #f3f3f3;
}

#browse .panes div a {
  font-size: 12px;
  font-family: Helvetica;
  color: #aaa;
  text-decoration: none;
}

#browse .panes div h3 {
  font-size: 13px;
  color: #777;
  margin-bottom: 15px;
}

#browse .panes div p {
  color: #666;
}

#browse .panes div p.right {
  position: absolute;
  left: 490px;
  top: 48px;
  padding-right: 0;
}

#browse .panes div p {
  padding-right: 20px;
  width: 460px;
}

#browse .panes div table {
}

#browse .panes div td {
  text-align: center;
  vertical-align: top;
  width: 173px;
  line-height: 20px;
  padding-left: 10px;
}

#browse .panes div td a {
  display: block;
}

body.state_directory h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

body.state_directory table {
  width: 960px;
}

body.state_directory td {
  line-height: 20px;
  font-family: Helvetica;
  font-size: 13px;
  padding-right: 10px;
  vertical-align: top;
}

body.state_directory td a {
  text-decoration: none;
}

/*CSS for static pages*/
body.static .right .errors {
  color: red;
}
body.static .right li {
  line-height: 20px;
}
body.static .right {
  width: 665px;
  margin-right: 35px;
  margin-bottom: 20px;
  position: relative;
  left: 160px;
  float: none;
}

body.static .right h1 {
  color: #006DBA;
  font-weight: normal;
  font-size: 16px;
  margin: 20px 0 13px 0;
}

body.static .search{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 5px 0 0 36px;
    top: -65px;
    left: 160px;
}

.static form label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}
.static dl {
  margin-bottom: 15px;
}
.static dt {
  font-weight: bold;
  margin-top: 10px;
}
.right h3 {
  margin-bottom: 10px;
}
.right h2 {
  color: #006DBA;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-weight: normal;
}

.right p {
  padding-bottom: 13px;
}

.right ul {
  list-style-type: disc;
  padding-left: 30px;
}

.right li {
  padding-bottom: 3px;
}

.right strong {
  font-weight: bold;
}

.right a:link, a:visited {
  color: #666;
  font-weight: bold;
}

.right .faqQuestion {
  font: 12px verdana,arial,helvetica,sans-serif;
  font-weight: bold;
}

.right .faqAnswer {
  font: 12px verdana,arial,helvetica,sans-serif;
  margin-bottom: 1em;
}

.right .legalHeader {
  font-weight: bold;
}

.right .supports-images {
  margin-right: auto;
  margin-left: auto;
}

.right .nodot {
  list-style: none;
}

.collegerebate h1 {
  height: 50px;
  font-size: 20pt;
}

.collegerebate table {
  border-style:none;
  width: 800px;
  border: 1px;
}

.collegerebate tr {
  height: 100px;
}

.collegerebate td.question {
  vertical-align: top;
  text-align: right;
  border-style: dotted;
  font-weight: bold;
  width: 200px;
}

.collegerebate td.answer {
  width: 600px;
}

.collegerebate p.address {
  font-weight: bold;
  font-size: larger;
}

body.operatorsignup .video {
  width: 640px;
  height: 360px;
  margin: 20px 0;
}
body.operatorsignup form {
  margin-bottom: 10px;
}
body.operatorsignup form fieldset {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
body.operatorsignup form input.text {
  border:  1px solid #a7a7a7;
  padding: 4px;
}
body.operatorsignup form input,
body.operatorsignup form label {
  display:block;
}
body.operatorsignup form select {
  margin-top: 5px;
}
body.operatorsignup form input.save.button {
  margin-top: 10px;
  width: 150px;
}
body.operatorsignup form input {
  width: 200px;
  margin-bottom: 10px;
}
select#softwareType,
input#otherSoftware {
    display: inline-block;
    float:left;
}

/* ------------------------------------------------------------------------------------- */
/* HEADER & FOOTER */

h1.storitz-logo {
  display: inline-block;
  width: 160px;
  height: 60px;
  text-indent: -9999px;
  vertical-align: top;
  position: relative;
}

h1.storitz-logo a {
  display: block;
  width: 160px;
  height: 60px;
  background: url("../images/v2/home/storitz-logo-small.png") no-repeat;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
}
h1.storitz-logo.beta a {
  background: url("../images/v2/home/storitz-logo-small-beta.png") no-repeat;
}

#header {
  width: 960px;
  clear: both;
  position: relative;
}

#header form.search {
  display: inline-block;
  vertical-align: top;
  background: url(../images/v2/home/backgrounds/searchbox-bg.jpg);
  width: 482px;
  position: relative;
  margin-left: 36px;
  margin-top: 5px;
  left: 0px;
  top: 0px;
}
#header form.search label {
  font-family: Verdana;
  font-size: 15px;
  color: #3ea307;
  font-weight: bold;
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/v2/masthead/magnifying-glass.png) no-repeat;
  width: 52px;
  height: 58px;
  position: absolute;
  left: -24px;
  z-index: 2;
}
#header form.search input[type=text] {
  width: 388px;
  height: 30px;
  position: absolute;
  top: 4px;
  padding-left: 32px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
#header form.search input[type=submit] {
  position: absolute;
  left: 377px;
  top: 5px;
  display: inline-block;
  width: 99px;
  height: 30px;
  border: none;
  font-weight: bold;
  background: url(../images/v2/masthead/search-btn-99x30.png) no-repeat;
  text-indent: -9999px;
}
#phone_support {
  width: 252px;
  height: 59px;
  line-height: 16px;
  position: absolute;
  top: -10px;
  right: 0;
  background: url(../images/v2/masthead/need-assistance-tollfree.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

#footer {
  border-top: 1px solid #f3f3f3;
  height: 20px;
  font-size: 11px;
  font-family: Helvetica;
  color: #ccc;
  padding-top: 10px;
  width: 960px;
  text-align: center;
  border-radius: 0 0 6px 6px;
}

#footer a {
  color: #ccc;
  text-decoration: none;
  margin-left: 10px;
}

#footer a.piped:before {
  content: "|";
  padding-right: 10px;
}

#footer a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------------- */
/* SEARCH RESULTS */

body.serp {
  font-family: Helvetica;
}
body.serp.metro h1 strong {
  font-weight: bold;
}
body.serp.metro h1 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: normal;
}
body.serp .results_container {
  position: relative;
  left: 200px;
  border: 1px solid #ccc;
  width: 760px;
  margin-bottom: 10px;
}
body.serp .map_view {
  width: 100%;
  float: none;
  margin-left: 200px;
  height: 734px;
  position: static;
}
body.serp #results_container div.map_container {
  float: none;
  width: auto;
  margin-left: 351px;
}
body.serp .panel {
  border-radius: 4px;
  border:  1px solid #ccc;
}
body.serp .panel h2 {
  border-bottom: 1px solid #ccc;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px 8px 12px;
  color: #333;
  margin-bottom: 0px;
  margin-top:4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f0f0f0));
 	background: -moz-linear-gradient(top,  #fcfcfc,  #f0f0f0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
body.serp .panel > div {
  border-bottom: 1px solid #ccc;
}
body.serp #pickers ul {
  display: block;
  /*padding: 5px;*/
  background-color: #ebebeb;
}
body.serp #pickers li:first-child {
  border-top-width: 0;
}
body.serp #pickers li {
  padding: 5px;
  border-top: 1px solid white;
}
body.serp #pickers {
  width: 190px;
  position: absolute;
}
body.serp #pickers label {
  margin-left: 6px;
}
body.serp #mini_map_canvas {
  width: 190px;
  height: 170px;
  background-color: lightyellow;
}
a.toggle_map_view {
  font-size: 12px;
  color: #0259a0;
  float: right;
}

#search_results {
  font-family: Helvetica;
}
#search_results > li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
  display: block;
}
#search_results > li:first-child {
  border-top-width: 0px;
}
#search_results li > div {
  vertical-align: top;
  display: inline-block;
}

#search_results .facility {
  width: 220px;
  padding-right: 10px;
}
#search_results .photo {
  width: 140px;
}

#search_results .unit_info {
  width: 120px;
}

#search_results .special {
  width: 118px;
}

#search_results .rent_me {
  width: 140px;
  vertical-align: middle;
  text-align: center;
}
#search_results .rent_me a {
  display: inline-block;
  background:  url("../images/v2/buttons/btn-rent-me-110x48.png") no-repeat;
  width: 110px;
  height:48px;
  text-indent: -9999px;
}

#search_results .special {
  font-size: 13px;
  color: #0259a0;
}

#search_results .photo img.thumb {
  height: 92px;
  margin-left: 10px;
}

#search_results .photo img.logo {
  height: 50px;
  margin-left: 10px;
}

#search_results .facility {
  font-size: 12px;
}

#search_results .facility a.name {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;

}

.show_map_popup a {
  text-decoration: none;
}

#search_results a {
  color: #0259a0;
}

#search_results .facility div {
  margin-top: 6px;
}
#search_results .facility .distance {
  font-weight: bold;
}

#search_results .unit_info .unavailable {
  font-style: italic;
  color: #999;
}
#search_results .unit_info .dimensions {
  font-weight: bold
}

#search_results .your_price {
  font-size: 16px;
  font-weight: bold;
}

#search_results .list_price {
  font-size: 14px;
  color: #e8111f;
  text-decoration: line-through;
}
#search_results div.permonth {
  font-size: 11px;
  margin-bottom: 6px;
}

#search_results .thumb_frame {
  position: relative;
  width: 120px; /* TODO: Must be smaller for narrower images ... */
  height: 90px;
  margin-left: 10px;
  overflow: hidden;
}

#search_results .thumb_frame img.thumb {
  position: absolute;
  top: -1px;
  left: -11px;
}

#search_results.map .thumb_frame {
  position: relative;
  width: 60px; /* TODO: Must be smaller for narrower images ... */
  height: 45px;
  overflow: hidden;
}

#search_results.map .photo img.thumb {
  height: 46px;
}

#search_results.map .photo img.logo {
  height: 25px;
}

#search_results.map {
  width: 351px;
  height: 702px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #ddd;
  /*margin-top: 31px;*/
  float: left;
  position: relative;
}

#search_results.map .photo {
  width: 95px;
  display: none;
}

#search_results.map .facility {
  width: 160px;
  padding-left: 10px;
}

#search_result_labels.map li {
  display: none;
}

#search_results.map .unit_info,
#search_results.map .special,
#search_results.map .rent_button,
#search_results.map .show_map_popup {
  display: none;
}

#popup_map {
  width: 320px;
  height: 345px;
  padding: 5px;
}

#big_map_canvas {
  position: absolute;
  top: -9999px;
  left: 400px;
  width: 546px;
  height: 702px;
  border-color: #ddd;
  border-width: 1px 0;
  border-style: solid;
}

#big_map_canvas.visible {
  float: right;
  position: relative;
  /*top: 31px;*/
  top: 0;
  left: 0;
}

#popup_map p {
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.tooltip a.close {
  float: right;
}

#popup_map_canvas {
  margin-top: 22px;
}

.tooltip {
  border: 1px solid #404040;
  padding: 1px 1px 5px 1px;
  position: absolute;
  top: 0;
  left: -2000px;
  background: silver;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgb(64, 64, 64);
  -moz-box-shadow: 0 1px 2px rgb(64, 64, 64);
  box-shadow: 0 0 6px rgb(64, 64, 64);
}
/* ------------------------------------------------------------------------------------- */
/* BLOG PAGE STYLES */

body.blog h1.storitz-logo a {
  background: url("/blog/wp-content/themes/storitz/images/logo.png") no-repeat;
  width: 210px;
}
body.blog #container {
  width: 960px;
  position: relative;
}
body.blog #left-col {
  width: 640px;
}
body.blog #sidebar {
  width: 280px;
  padding-left: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
body.blog #sidebar a {
  color: #4f4f4f;
}
body.blog #sidebar li.widget {
  margin-bottom: 10px;
}
body.blog #sidebar li.widget li {
  list-style-image: url(/blog/wp-content/themes/storitz/images/icon-sidebar-link.png);
  display: list-item;
  margin-left: 15px;
}
body.blog div.entry_header h2 {
  font-size: 24px;
  font-family: Helvetica;
  font-weight: normal;
}
body.blog a {
  color: #087DB6;
  text-decoration: none;
}
body.blog h2 span.editpost a {
  font-size: 10px;
  color: #ccc;
}
body.blog p {
  line-height: 125%;
  margin-bottom: 10px;
}
body.blog .categories a:link,
body.blog .categories a:hover,
body.blog .categories a:visited {
  color: white;
  background: #21A0DE;
  padding: 2px 7px;
  white-space: nowrap;
}
body.blog div.entry_content {
  font-family: Helvetica;
}
body.blog div.entry_content li {
  display: list-item;
  margin-left: 15px;
  list-style-image: url(/blog/wp-content/themes/storitz/images/icon-sidebar-link.png);
  margin-bottom: 5px;
}
body.blog div.entry_content ol li {
  list-style-type: decimal; 
  list-style-image: none;
}
body.blog h6.zemanta-related-title {
  margin-bottom: 5px;
}
body.blog .postedinfo {
  line-height: 125%;
}
body.blog .comment-icon {
  background: url(/blog/wp-content/themes/intrepidity/images/icon-comment.gif) no-repeat;
  padding-left: 18px;
}
body.blog div.post {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
body.blog p.entry-date {
  color: #4f4f4f;
  font-size: 10px;
}
body.blog div.zemanta-pixie {
  float: right;
}

/* ------------------------------------------------------------------------------------- */
/* Site detail page */

body.site_detail .container_detail {
  margin-top: 10px;
  position: relative;
}
body.site_detail h2.none {
  padding:  13px;
}
body.site_detail {
  font-family: Arial, Helvetica, sans-serif;
}
body.site_detail #header form {
  display: none;
}
body.site_detail #left_panel {
  display: inline-block;
  width: 657px;
  margin-right: 3px;
  background-color: white;
  position: relative;
}
body.site_detail #right_panel {
  display: block;
  width: 300px;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
}

body.site_detail .vcard {
  height: 160px;
  background: url("../images/v2/site_detail/bg-fade-facility-tabs.jpg") repeat-x;
  background-position: left bottom;
  clear: both;
}
body.site_detail .vcard > div {
  float: left;
  display:inline-block;
}
body.site_detail .vcard .site_logo {
  margin-right: 20px;
}
body.site_detail #site_address .tel {
  font-weight: bold;
}
body.site_detail #site_address {
  width: 387px;
  font-size: 12px;
}
body.site_detail .site_info {
  margin-top: -30px;
}
.breadcrumbs {
  color: #00529b;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 9pt;
  font-family: Arial;
}
.breadcrumbs a {
  color: #3EA307;
  text-decoration: none;
}

body.site_detail .tabs li a,
body.site_detail h1,
body.site_detail a.action_links,
body.site_detail h2,
body.site_detail h3,
.breadcrumbs a.current {
  color: #00529b;
}
body.site_detail, body.checkout {
  font-family:  arial, helvetica, verdana, sans-serif;
}
body.site_detail .vcard h1 {
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 5px 0;
}

body.site_detail .site_features {
  padding-top: 10px;
}

body.site_detail .site_features img {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 5px;
}

body.site_detail .tabs {
  padding: 0 0 0 12px;
  list-style-type: none;
  text-align: center;
  height: 28px;
}

body.site_detail .tabs li {
  display: inline;
  padding: 0;
  margin: 0;
}

body.site_detail .tabs li a {
  float: left;
  font-size: 13px;
  display: inline-block;
  padding: 7px 20px 7px 20px;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  height: 13px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
  position: relative;
  top: 1px;
  outline: 0;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-radius-top-right: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-top-left: 5px;
  border-top-left-radius: 5px;
}

body.site_detail .tabs li a:hover {
  background-color: #90c0f0;
}

body.site_detail .tabs li a.current {
  background-color: #fff;
  border-bottom-width: 0px;
  cursor: default;
  -moz-box-shadow: 0px 0px 4px #025895;
  -webkit-box-shadow: 0px 0px 4px #025895;
  box-shadow: 0px 0px 4px #025895;
}

body.site_detail .panes {
  display: block;
  overflow: hidden;
  border-top: 1px solid #aaa;
  background-color: white;
  position: relative;
}

body.site_detail .panes>div {
  display: block;
  border: 1px solid #666;
  border-width: 0 0 0 0;
  padding: 10px 12px 0 0;
  background-color: #fff;
}

body.site_detail .panes .main_pic {
  display: block;
  width: 284px;
  margin: 10px 0 10px 0;
}

body.site_detail .panes .overview .photos {
  display: inline-block;
  float: left;
  width: 290px;
  padding-right: 15px;
}

body.site_detail .panes .overview .photos ul.image_list {
  width: 290px;
  overflow: hidden;
  padding: 0 0 11px;
  margin: 0 0 8px;
}
body.site_detail .panes .overview .all_units h3 {
  font-size: 14px;
}
body.site_detail .panes .overview .site_features ul {
  line-height: 16px;
  margin-top: 2px;
}
body.site_detail .panes .overview .site_features li {
  display: block;
}
body.site_detail .panes .overview .site_features {
  margin-bottom: 20px;
}
body.site_detail .panes .overview .site_features table {
  margin-top: 5px;
  margin-left: 5px;
}
body.site_detail .panes .overview .site_features td h3 {
  font-size: 13px;
  color: black;
}
body.site_detail .panes .overview .site_features td {
  width: 200px;
  vertical-align: top;
}
body.site_detail .panes .overview .site_features h2,
body.site_detail .panes .overview .all_units h2 {
  font-size: 10pt;
  margin-bottom: 10px;
  font-family: Verdana, sans-serif;
  padding: 5px 5px 0;
}
body.site_detail .panes .overview .site_features h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #afafaf;
}
body.site_detail .panes .overview .all_units > ul > li:first-child {
  border-top-color: #afafaf;
}
body.site_detail .panes .overview .all_units > ul > li {
  padding: 10px 0;
  border-top: 1px solid #ccc;
  padding-left: 150px;
  vertical-align: top;
  height: 100px;
  background: url("../images/v2/unit-size-placeholder-151x86.jpg") -10px center no-repeat;
}
body.site_detail .panes .overview .all_units > ul > li > div {
  display: inline-block;
  float: left;
  /*border: 1px solid pink;*/
  /*margin: 1px;*/
}
body.site_detail .panes .overview .all_units .unit_info ul {
  line-height: 120%;
}
body.site_detail .panes .overview .all_units .unit_info {
  width: 200px;
}
body.site_detail .panes .overview .all_units .special {
  width: 170px;
  color: #00529b;
  height: 100px;
}
body.site_detail .panes .overview .all_units .rent_me {
  width: 120px;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
body.site_detail .panes .overview .all_units .rent_me .price {
  margin-bottom: 5px;
}
body.site_detail .panes .overview .all_units .rent_me input.rent_me_button {
  display: inline-block;
  background:  url("../images/v2/buttons/rent-me-blue-106x38.png") no-repeat;
  width: 106px;
  height:38px;
  text-indent: -9999px;
  border:none;
}

div.photos ul.image_list li {
    float: left;
    width: 69px;
    height: 48px;
    margin: 0 3px 3px 0;
}

div.photos ul.image_list a {
    float: left;
    border: 1px solid #AFAFAF;
    margin: 1px;
}

div.photos ul.image_list li.active,
div.photos ul.image_list li a:hover {
    border:2px solid #00529b;
	margin:0;
}

div.photos ul.image_list li img {
    width: 63px;
    height: 42px;
    border: 1px solid white;
}


body.site_detail .panes .overview .description {
  display: inline-block;
  width: 340px;
  padding-top: 10px;
}

body.site_detail .panes .overview ul.action_links {
  display: inline-block;
  float: right;
  margin: 0 10px 10px;
  padding-left: 10px;
  border-left: 1px dotted #ccc;
  height: 44px;
  width: 63px;
}
body.site_detail .panes .overview ul.action_links li {
  display: block;
  margin-bottom: 4px;
}

body.site_detail .panes .overview ul.action_links li a.print {
  display: inline-block;
  padding-top: 4px;
  background: url("../images/v2/buttons/printer_icon_small.gif") no-repeat;
  background-position: 4px center;
  padding-left: 24px;
  height: 16px;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  color: black;
}

body.site_detail a.print:hover {
  opacity: 0.6;
}

body.site_detail .move_in_quote { position: relative; }

body.site_detail a.help_button,
body.checkout a.help_button {
  display: inline-block;
  background: url("../images/v2/buttons/help-12x12.png") no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  /*position: absolute;*/
  margin-left: 3px;
}
body.site_detail .rent_me {
  padding: 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #aaaaaa;
  background-image: url("../images/v2/site_detail/bg-transaction-box-align-bottom.jpg");
  background-position: center bottom;
  border-radius: 8px;
  background-repeat: repeat-x;
  vertical-align: top;
  box-shadow: 0 0 8px #cccccc;
  font-size: 13px;
}
body.site_detail .rent_me > div {
  padding: 12px 12px;
  border-color: #aaa;
  border-width: 1px 0 0 0;
  border-style: solid;
}

body.site_detail .rent_me div.price .original_price {
  font-size: 16px;
  font-weight: normal;
  color: red;
  text-decoration: line-through;
}

body.site_detail .rent_me > div.price {
  font: 22px arial, helvetica, verdana, sans-serif;
  font-weight: bold;
  padding-bottom: 0;
  vertical-align: bottom;
  text-align: center;
}
body.site_detail .all_units .rent_me {
  text-align: center;
}
body.site_detail .all_units .rent_me div.price {
  font-size: 16px;
  font-weight: bold;
}

body.site_detail .all_units .rent_me div.price .original_price {
  font-size: 13px;
  display: block;
}
body.site_detail .rent_me > div.rent_reserve {
  padding-bottom: 4px;
}

body.site_detail .rent_me > div.price,
body.site_detail .rent_me > div.rent_reserve {
  border-width: 0;
}

body.site_detail .rent_me > div.rent_reserve input.rent_me_button {
  display: block;
  background: url("../images/v2/site_detail/rent-me-275x56.png") no-repeat;
  width: 275px;
  height: 56px;
  text-indent: -9999px;
  border-width: 0;
}

body.site_detail .rent_me > div.rent_reserve input.reserve_me_button {
  display: block;
  background: url("../images/v2/site_detail/reserve-me-275x56.png") no-repeat;
  width: 275px;
  height: 56px;
  text-indent: -9999px;
  border-width: 0;
}

body.site_detail .rent_me div.price .per_month {
  font-size: 12px;
  font-weight: normal;
}

body.site_detail .rent_me .all_units div.price .per_month {
  font-size: 10px;
}
body.site_detail .rent_me > div.rent_reserve .guarantee {
  background: url("../images/v2/site_detail/checkmark-20x19.png") no-repeat;
  background-position: 50px center;
  padding: 13px 0 10px 75px;
  font-weight: bold;
  color: #3EA307;
}

.move_in_quote table.summary {
  width: 100%;
}
.move_in_quote table.summary.first {
  clear: both;
}
.move_in_quote table.summary td,
.move_in_quote table.summary th {
  vertical-align: top;
  padding-bottom: 4px;
}
.move_in_quote table.summary th {
  text-align: left;
}
.move_in_quote .summary td {
  font-weight: bold;
  width: 158px;
  text-align: right;
  height: 19px;
}
.move_in_quote tr.total td {
  padding-top: 5px;
  font-size: 110%;
}
.move_in_quote tr.total span.label {
  float: left;
  margin-top: 1px;
}
.move_in_quote .summary .none {
  font-weight: normal;
  font-style: italic;
}
.move_in_quote .summary a.remove_offer {
  background-color: #ddd;
  color: #7c6c88;
  border-radius: 7px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin: -1px 0 0 4px;
  padding: 1px 4px 2px;
  float: right;
}
.move_in_quote .summary a.more_offers {
  color: #1982de;
  text-decoration: none;
  display: block;
  font-weight: normal;
  margin-top: 3px;
  font-size: 11px;
}
.move_in_quote a.edit_date {
  padding-left: 23px;
  background: url("../images/v2/buttons/calendar-16x14.gif") no-repeat;
  background-position: left 3px;
  float: right;
  display: inline-block;
  text-decoration: none;
  height: 15px;
  margin-top: -4px;
  padding-top: 4px;
  color: #1982de;
  position: relative;
}
/*datepicker css mod */
#datepicker .close_button {
  display: block;
  position: absolute;
  bottom: 2px;
  right: 10px;
}
#datepicker a.close {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  font-weight: bold;
  font-size: 9pt;
  text-decoration: none;
}
#datepicker {
  display:none;
  position: absolute;
}
.ui-datepicker table.ui-datepicker-calendar thead tr {
  background-color: #f0f0f0;
}
.ui-datepicker .ui-datepicker-title {
  font-family: helvetica;
  font-weight: bold;
  font-size: 14px;
}
.ui-datepicker table.ui-datepicker-calendar th {
  font: 11px helvetica;
  color: #516476;
  font-weight: bold;
}
.ui-datepicker table.ui-datepicker-calendar td.ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=1);
}
.ui-datepicker table.ui-datepicker-calendar td span,
.ui-datepicker table.ui-datepicker-calendar td a {
  font-family: helvetica;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.ui-datepicker table.ui-datepicker-calendar td span {
  color: #d2d2d2;
  background-color: #fff;
  background: none;
  border: 1px solid #fff;
}
.ui-datepicker table.ui-datepicker-calendar td a {
  color: #516476;
  background-color: #fff;
  background: none;
  border: 1px solid #fff;
}
.ui-datepicker table.ui-datepicker-calendar td a.ui-state-active {
  border: 1px solid #ACDD4A;
  /*background: #65CF07 url(images/ui-bg_glass_60_65cf07_1x400.png) 50% 50% repeat-x;*/
  background-color: #69bd28;
  color: white;
}
.ui-datepicker table.ui-datepicker-calendar td a.ui-state-hover {
  background: none;
  background-color: #baddec;
  border: 1px solid #baddec;
}
/* end datepicker css mod*/
body.checkout #booking_summary .unit_info {
  border-top: 1px solid #ccc;
}

body.site_detail .rent_me .unit_info ul,
body.checkout #booking_summary .unit_info ul {
  line-height: 110%;
  font-size: 12px;
  margin-bottom: 7px;
}
body.site_detail .rent_me .unit_info a.more_sizes,
body.checkout #booking_summary .unit_info a.more_sizes {
  float: right;
  font-size: 13px;
  text-decoration: none;
  /*color: #025895;*/
  color: #1982de;
}
body.site_detail .rent_me .unit_info h4,
body.checkout #booking_summary .unit_info h4 {
  font-size: 14px;
  color: black;
  margin-bottom: 7px;
  color: #025895;
}
body.site_detail .rent_me .unit_info ul.amenities,
body.checkout #booking_summary .unit_info ul.amenities {
  display: inline-block;
  width: 135px;
}
.move_in_quote .offer_links {
  font-weight: normal;
  text-align: right;
  color: #1982de;
}
body.checkout .move_in_quote .move_in_cost_asterisk,
body.checkout .move_in_quote p,
body.checkout .cost_breakdown caption {
  display: none;
}
body.checkout .move_in_quote {
  border-top: 1px solid #ccc;
}
body.checkout .cost_breakdown {
  margin: 5px -10px;
  border-bottom-width: 0;
}
.move_in_quote #promo_list {
  width: 255px;
  background: url("../images/v2/backgrounds/popup-titlebar-light-3x27.jpg") repeat-x #ffffff;
}
.move_in_quote #promo_list h2 {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 5px;
}
.move_in_quote #promo_list li a {
  text-decoration: none;
}
.move_in_quote #promo_list li a.promo {
  display: inline-block;
  color: black;
  width: 197px;
  padding: 10px 20px 10px 38px;
  text-align: left;
}
.move_in_quote #promo_list li a.promo:hover {
  background-color: #ddd;
}
.move_in_quote #promo_list li {
  display: block;
  border-bottom: 1px solid #ccc;
}
.move_in_quote #promo_list li.close {
  border-bottom-width: 0;
  padding: 5px 10px 0;
  margin: 0;
  text-align: right;
}
.move_in_quote #promo_list li.close a {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  font-weight:bold;
  font-size: 9pt;
}
.move_in_quote p {
  font-size: 11px;
  margin-top: 7px;
  text-align: center;
}
.move_in_quote p a {
  color: #1982de;
  text-decoration: none;
}
body.site_detail .rent_me > div.move_in_quote .cost_breakdown {
  display: none;
}


body.site_detail .sim_units {
  padding-left: 5px;
}
body.site_detail .sim_units h1 {
  padding-bottom: 5px;
  margin: 25px 0 10px 0;
  border-bottom: 1px solid #ccc;
  font: 10pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body.site_detail .sim_units ul {
  display: block;
}
body.site_detail .sim_units ul li {
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
  height: 82px;
}
body.site_detail .sim_units ul li .price {
  font-size: 18px;
  margin-bottom: 3px;
}
body.site_detail .sim_units ul li span {
  font-size: 12px;
}
body.site_detail .sim_units ul li h2 {
  clear:none;
  font-size: 15px;
  margin-bottom: 7px;
  padding-top: 3px;
}
body.site_detail .sim_units ul li img {
  float: left;
  height: 72px;
  width: 72px;
  margin-right: 5px;
}
body.site_detail .sim_units .units_bottom {
  text-align: right;
}
/* ------------------------------------------------------------------------------------- */          
/* CHECKOUT */

body.checkout form.checkout {
  position: relative;
  font-size: 13px;
  margin-top: 10px;
}
body.checkout #booking_summary > h1 {
  color: #00529b;
}
body.checkout #booking_summary > div,
body.thankyou #purchaseSummary > div {
  padding: 12px;
}
body.checkout #booking_summary > h1 {
  padding: 15px 12px 5px;
}
body.checkout #booking_summary .site_info .image_container,
body.thankyou #purchaseSummary .site_info .image_container {
  width: 100px;
  height: 96px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
body.checkout #booking_summary .site_info img,
body.thankyou #purchaseSummary .site_info img {
  width: 100px;
}
body.checkout #booking_summary .site_info .tel,
body.thankyou #purchaseSummary .site_info .tel {
  font-weight: bold;
}
body.checkout #booking_summary .site_info p,
body.thankyou #purchaseSummary .site_info p {
  margin: 3px 0;
  line-height: 100%;
}
body.checkout #booking_summary .site_info h2,
body.thankyou #purchaseSummary .site_info h2{
  clear: none;
  color: black;
  font-size: 10pt;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
body.checkout .customer_info .assurances {
  margin: 30px 0;
}
body.checkout .customer_info p {
  margin: 10px 0;
}
body.checkout .customer_info > div,
body.checkout .customer_info > h1 {
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
}
body.checkout .customer_info h1 {
  margin-top: 30px;
  padding-top: 20px;
  margin-bottom: 10px;
  color: #00529b;
  clear: both;
  border-top: 1px solid #ccc;
}
body.checkout .customer_info h1.first {
  border: none;
  margin-top: 0;
}
body.checkout .customer_info h1.pay {
  clear: none;
}
body.checkout .customer_info {
  width: 650px;
  vertical-align: top;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-image: url("../images/v2/site_detail/bg-transaction-box-align-bottom.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
body.checkout #booking_summary {
  position: absolute;
  width: 300px;
  left: 660px;
  top: 0;
  padding: 0;
  vertical-align: top;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 8px #cccccc;
  background-image: url("../images/v2/site_detail/bg-transaction-box-align-bottom.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
body.checkout #header form.search {
  display: none;
}
body.checkout .customer_info h1.free {
  height: 80px;
}
body.checkout .customer_info h1.pay {
  height: 140px;
}
body.checkout .customer_info h1.pay.first {
  height: auto;
}
body.checkout .customer_info h1.pay.first .col2 {
  top: 0;
}
body.checkout .customer_info h1.pay .col2 p {
  text-align: right;
  font-size: 10pt;
}
body.checkout .customer_info h1.pay .col2 p strong {
  font-weight: bold;
  display: block;
  font-size: 12pt;
}
body.checkout .customer_info .terms .col2,
body.checkout .customer_info h1.pay p {
  margin-top: 0;
}

body.checkout .customer_info .col2 {
  position: absolute;
  top: 10px;
  left: 325px;
}
body.checkout .customer_info h1 .col2 {
  top: 18px;
  font-weight: normal;
 }
body.checkout .customer_info .col3 {
  position: absolute;
  top: 10px;
  left: 390px;
}
body.checkout .customer_info .col1 {
  width: 320px;
}
body.checkout label {
  display: block;
  font-family: Arial;
  font-size: 9pt;
  color: #444;
  margin-bottom: 5px;
  padding-left: 2px;
}
body.checkout input[type=text] {
  display: block;
  border:  1px solid #ccc;
  border-radius: 4px;
  width: 290px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  padding: 4px 2px;
}
body.checkout input[type=text].cvv2 {
  width: 100px;  
}
body.checkout input[type=text].zipcode {
  width: 130px;  
}
body.checkout .ccimages {
  margin: 5px 0 0 12px;
}
body.checkout input.rent_me_button {
  display: block;
  background: url("../images/v2/site_detail/rent-me-275x56.png") no-repeat;
  width: 275px;
  height: 56px;
  text-indent: -9999px;
  border-width: 0;
  margin-bottom: 10px;
}
.cost_breakdown {
  margin-top: 5px;
  border-bottom: 1px solid #777;
}
.cost_breakdown table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}
.cost_breakdown td.negative {
  color: red;
}
.cost_breakdown td.numeric,
.cost_breakdown th.numeric {
  text-align: right;
  white-space: nowrap;
}
.cost_breakdown td {
  vertical-align: top;
}
.cost_breakdown td,
.cost_breakdown th {
  text-align: center;
  padding: 4px;
}
.cost_breakdown th {
  border-bottom: 1px dotted #777;
  vertical-align: bottom;
  
}
.cost_breakdown td.item,
.cost_breakdown th.item {
  padding-left: 20px;
  text-align: left;
}
.cost_breakdown td.last,
.cost_breakdown th.last {
  padding-right: 20px;
}
.rent_me .cost_breakdown td.item,
.rent_me .cost_breakdown th.item,
.rent_me .cost_breakdown td.last,
.rent_me .cost_breakdown th.last {
  padding: 4px;
}
.cost_breakdown td.item {
  font-weight: bold;
}
.cost_breakdown tr.total td {
  border-top: 1px solid #aaa;
}
.cost_breakdown tr.total td.last {
  text-align: right;
  font-weight: bold;
}
.cost_breakdown caption {
  /*background: #777;*/
  /*color: white;*/
  border-top: 1px solid #777;
  border-bottom: 1px dotted #777;
  padding: 2px;
  font-weight: bold;
}
.reservation_move_in_description p {
    text-align: left;
    font-family: arial,helvetica,verdana,sans-serif;
    font-size: 12px;
    color: #000000;
}
.reservation_move_in_description p strong {
    text-align: left;
    font-size: 14.3px;
    font-weight: bold;
}
body.checkout #booking_summary dt {
  float: left;
  clear: left;
}
body.checkout #booking_summary dd {
  float: right;
  clear: right;
}
/*Organizer contest CSS begins here*/
#body {
    color: #333;
    font: 11px verdana,arial,helvetica,sans-serif;
}
#body strong, #body b {
    font-weight: bolder;
}
#body span, #body label, #body img {
    vertical-align: 0;
}
#body h1 {
    color: #099EC8;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 1em 0;
}
#contestformdiv a:link, #contestformdiv a:visited {
    color: #666;
    font-weight: bold;
}
div.contest {
    border: 1px solid #ccc;
}
div.organizerbanner {
    width: 960px;
    height: 227px;
    background: #fff url("../images/pro-organizer-contest-banner.jpg") no-repeat;
    margin-top: 10px;
}
#LikePluginPagelet div.connect_button_container {
    padding-left: 40px;
}
#contest_top {
    width: 960px;
    display: block;
}
#contestformdiv .organizer_intro {
    display: inline-block;
    float: left;
    width: 470px;
    padding-right: 10px;
    font-size: 15px;
    font-family: helvetica;
}
#contestformdiv table {
    border-collapse: separate;
    border-spacing: 2px;
    margin-right: 13px;
}
.organizer_intro p {
    font-size: 15px;
    line-height: 17px;
    display: block;
    margin-top: 1em;
}
#contestformdiv .video_container {
    display: inline-block;
    /*float: left;*/
    width: 465px;
    height: 300px;
}
#contest_footer {
    height: 60px;
    background-image: url("../images/bkg_footer.gif");
    color: white;
}
.orgprop label.right {
    font-family: arial;
    font-size: 13px;
    text-align: right;
    /*padding-top: 6px;*/
}
#contestformdiv tr.orgprop table.inner {
    width: 319px;
    margin-right: 0px;
}
.orgprop input.required {
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    height: 30px;
    width: 240px;
}
.orgprop input:focus, .orgprop textarea:focus {
    box-shadow: 0 0 15px #006DBA;
}
.orgprop textarea {
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    width: 240px;
    height: 150px;
    vertical-align: top;
    background-color: #fcfcfc;
    margin: 12px 0;
}
.orgprop .firstfield {
    padding-top: 6px;
}
.orgprop input.tac {
    width: 13px;
    height: 13px;
}
/* Additions end here */

.orgprop {
    padding: 5px;
    height: 50px;
}
.orgprop .name {
    text-align: left;
    width: 30%;
    white-space: nowrap;
}
.orgprop .value {
    text-align: left;
    width: 30%;
}
.checkout_value {
    text-align: left;
    float: left;
}
.checkout_name {
    text-align: left;
    white-space: nowrap;
    float: left;
}

/* ACTION BUTTONS */
#contestformdiv .buttons {
    font-size: 10px;
    display: block;
}
.buttons a, .buttons input, .buttonSmall a, .buttonSmall input {
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
}

/*

Added styles
*/
.organizerButton {
    border: 0;
    background: url("../images/pro-organizer-submit-251x56.png") no-repeat;
    width:251px;
    height:56px;
    display: inline-block;
}
.noborder {
    border-style: none;
}
.stcontent {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#topnav {
    height: 26px;
    background-image: url("../images/bkg_topbar.gif");
}
.organizerPink {
    color: #f7036a;
}
.small {
    font: 11px verdana, arial, helvetica, sans-serif;
}
.bold {
    font-weight: bold;
}
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
.left {
    float: left;
}
.right {
    float: right;
}
/* Organizer contest CSS ends here */
/* Map & directions css begins here*/
#directionMap, #directionMapDestination {
    /*background: #fff url(../images/map-frame-650.png) no-repeat;*/
    width: 650px;
    height: 339px;
    padding: 2px;
    margin: 20px 0;
    display: block;
}

#directionMapCanvas, #directionMapDestinationCanvas {
    width: 410px;
    height: 319px;
    border: 8px solid #BDEDFF;
    display: inline-block;
}

#facilityHours {
    display: inline-block;
    width: 210px;
}

#facilityHours h2 {
    margin: 5px 0 10px 0;
    color: #000;
}

#facilityHours h4 {
    font-style: italic;
    font-weight: normal;
    padding-bottom: 10px;
}

#dirPanel {
    border-top: 1px solid #DFDFDF;
    margin-top: 30px;
}

.checkout_fields {
    padding-top: 10px;
    padding-left: 20px;
}

.checkout_labels {
    padding-left: 20px;
    color: #154A99;
}

#directionsDistance {
    font: 12px verdana,arial,helvetica,sans-serif;
    font-weight: bold;
}

#directionsSteps tr {
    border-bottom: 1px solid #dfdfdf;
}

#directionsSteps tr.directionStepLast {
    border-bottom-width: 0px;
}

#directionsSteps tr.directionStep td b,
#directionsSteps tr.directionStepLast td b {
    font-weight: bold;
}

#directionsSteps td {
    margin: 15px 0;
    padding: 1em 0;
    font-size: 13px;
    border: 0;
    display: table-cell;
    border-collapse: collapse;
}

.directionsWarnings li {
    margin: 5px 0;
    font-size: 11px;
}

.directionsCopyrights {
    margin-top: 20px;
    font-size:10px;
}
#dirPanel .transBox {
    width: 648px;
    padding: 0;
	/*-moz-border-radius: 8px;*/
    /*-webkit-border-radius: 5px;*/
	/*border:1px solid #dfdfdf;*/
	background-color:#BDEDFF;
	/*background-image:url("../images/bkg-features-list.jpg");*/
	background-position: center bottom;
	/*border-radius:8px;*/
	background-repeat:repeat-x;
	vertical-align:top;
}
.directionsAddress {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}
.dirInstructions {
    display: block;
    margin-left: 3px;
}
.dirInstructions h2 {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
    font-size: 14px;
}
input#srcAddr {
    width: 330px;
    font-weight: bold;
    font-family: helvetica;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 30px;
    padding: 9px;
    border: 1px solid gray;
    margin-left: 5px;
}
#printThis, #shareThis {
    display: inline-block;
    text-indent: -9999px;
    width: 92px;
    height: 32px;
    margin-top: 20px;
    margin-right: 10px;
}
#printThis a, #shareThis a {
    width: 92px;
    height: 32px;
    display: block;
}
#printThis {
    background: url("../images/map-print-button.png") no-repeat;
}
#shareThis {
    background: url("../images/map-share-button.png") no-repeat;
}
/* detail page video tab */
body.site_detail #videoContainer {
    width: 580px;
    height: 300px;
    border: 8px solid #BDEDFF;
    display: block;
    margin: 10px 0 10px 28px;
}
body.site_detail h2.video_title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: helvetica;
}
/* detail page reviews tab */
.overview div.yelp_rating {
    height: 60px;
    padding-top: 5px;
}
.overview div.yelp_rating img {
    width: 84px;
    height: 17px;
    float: left;
    margin: -2px 5px 0 30px
}
.overview div.yelp_rating span {
    font-weight: bold;
}
.overview div.yelp_rating a {
    display: block;
    font-weight: bold;
    font-size: 13px;
}
div.yelp_pic {
    width: 100px;
    height: 100px;
    display: inline-block;
}
div.yelp_pic img {
    display: block;
    width: 100px;
    height: 100px;
}
div.yelp_rating .yelp_logo {
    background: url(../images/reviewsFromYelpWHT.gif) no-repeat;
    width: 115px;
    height: 25px;
    display: block;
    text-indent: -9999px;
    background-position: 3px 3px;
    margin-left: 25px;
}
div.yelp_reviews {
    display: block;
    width: 650px;
}
#yelp_reviews ul.user_reviews{
    display: block;
    padding-left: 10px;
    list-style-type: decimal;
}
#yelp_reviews ul.user_reviews li.review {
    display: block;
    width: 600px;
    padding: 0 0 20px 10px;
    border-bottom: 1px solid #aaa;
}
li.review img.revImage {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin: 5px;
}
li.review h2.reviewer {
    display: block;
    width: 180px;
    vertical-align: top;
    margin-bottom: 8px;
    padding: 5px 0 0 5px;
    clear: none;
}
li.review img.revRating {
    display: block;
}
li.review p.revExcerpt {
    clear: both;
    display: block;
    margin-left: 5px;
}
#yelp_reviews h2.review_title {
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
}
#yelp_reviews a.read_more {
    display: none;
    float: right;
    padding: 15px;
    font-weight: bold;
}
#spinner {
    display: none;
    position: absolute;
    width: 150px;
    left: 580;
    left-margin: -75px;
    background: white;
}
#spinner .message {
    color: blue;
    font-weight: bold;
    left-margin: 5px;
    top-margin: 5px;
}

body.thankyou {
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}
body.thankyou .conf_box > h1,
body.thankyou .conf_box > h2,
body.thankyou .conf_box > div > h2,
body.thankyou .conf_box > p {
  margin-left: 15px;
}
body.thankyou .conf_box > p {
  margin-top: 10px;
}
body.thankyou .conf_box .userInfo > div,
body.thankyou .conf_box .storageInfo > div,
body.thankyou .conf_box .icons > div,
body.thankyou .conf_box .promos > div {
  margin-left: 15px;
}
body.thankyou .conf_box .promos > div.column {
  background-color:gray;
  border-radius:10px;
  height:110px;
  text-align: center;
  padding-top: 10px;
  color: #a7a7a7;
}
body.thankyou .conf_box {
  padding-top: 20px;
  width: 685px;
  display: block;
  position: relative;
  border: 1px solid #aaa;
  margin-bottom: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-image: url("../images/v2/site_detail/bg-transaction-box-align-bottom.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
body.thankyou #header {
  margin-bottom: 10px;
}
body.thankyou .print {
  float:right;
  margin-right:10px;
}
body.thankyou .print a {
  color: #00529b;
  text-decoration: none;
}
body.thankyou .conf_box h1 {
  font-size: 11pt;
  margin-bottom: 15px;
  color: #00529b;
  font-weight: bold;
}
body.thankyou .conf_box h2 {
  font-size: 13pt;
  margin-bottom: 0;
  color: #000;
}
body.thankyou .conf_box h2 span {
  color: #1982de;
  font-weight: bold;
}
body.thankyou .conf_box p,
body.thankyou #purchaseSummary p {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, san-serif;
  font-size: 10pt;
  line-height: 16px;
  padding-right: 10px;
}
.conf_box div.userInfo,
.conf_box div.storageInfo {
  display: block;
  margin-bottom: 30px;
}
.conf_box div.icons, .conf_box div.promos {
  border-top: 1px solid #a7a7a7;
  padding-top: 20px;
}
.conf_box div.storageInfo {
  margin-top: 10px;
}
.conf_box .column { /*#billInfo, #paymentInfo, #orderInfo*/
  display: inline-block;
  width: 195px;
  margin-top: 15px;
  vertical-align: top;
}
.conf_box .extColumn {
  display: inline-block;
  width: 410px;
  margin: 15px 10px 0 0;
  vertical-align: top;
}
.conf_box h3 {
  font-weight: bold;
  font-size: 10pt;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.conf_box div.userInfo p {
  margin-bottom: 0;
  margin-top: 7px;
}
.conf_box div.userInfo span,
.conf_box div.icons span,
.conf_box div.storageInfo span {
  font-weight: bold;
}
.conf_box div.storageInfo span {
  font-size: 9pt;
}
.conf_box .icons a.map,
.conf_box .icons a.print,
.conf_box .icons a.check {
  width: 53px;
  height: 52px;
  display: inline-block;
  margin-right: 5px;
  float: none;
}
.conf_box .icons a.map {
  background: url(../images/map-53x52.png) no-repeat;
}
.conf_box .icons a.print {
  background: url(../images/print-53x52.png) no-repeat;
}
.conf_box .icons a.check {
  background: url(../images/checklist-53x52.png) no-repeat;
}
.conf_box .icons span.icn_label {
  vertical-align: top;
  display: inline-block;
  width: 130px;
  margin-top: 1px;
}
.conf_box .storageInfo a,
#purchaseSummary .move_in_info a {
  text-decoration: none;
  color: #1982de;
  font-size: 10pt;
}
.conf_box .storageInfo .days p,
.conf_box .storageInfo .hours p {
  font-size: 9pt;
}
.conf_box .storageInfo .days {
  display: inline-block;
}
.conf_box .storageInfo .hours {
  display: inline-block;
}
.conf_box .storageInfo .important {
  display: inline-block;
  width: 172px;
  vertical-align: top;
}
.conf_box .storageInfo .important p{
  color: red;
  margin: 0;
  line-height: 15px;
  font-size: 9pt;
}
.conf_box .storageInfo .days p,
.conf_box .storageInfo .hours p {
  text-align: right;
  margin-bottom: 0;
  line-height: 17px;
}
.conf_box .storageInfo .hours p {
  width: 110px;
  padding-right: 22px;
}
.conf_box .storageInfo .hours p.siteClosed {
  text-align: center;
  font-style: italic;
  padding-left: 12px;
}
.conf_box div.icons {
  margin: 10px 0 20px;
}
.conf_box div.promos {
  display: block;
  margin-bottom: 20px;
  /*display: none;*/
}
body.thankyou #purchaseSummary {
  position: absolute;
  width: 300px;
  left: 800px;
  top: 98px;
  padding: 0;
  vertical-align: top;
  border: 1px solid #AAA;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 8px #CCC;
  background-image: url("../images/v2/site_detail/bg-transaction-box-align-bottom.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
#purchaseSummary h1 {
  color: #00529B;
  padding: 20px 10px 0;
  font-size: 11pt;
}
body.thankyou #purchaseSummary div.unit_info {
  padding-bottom: 0px;
}
#purchaseSummary .unit_info h1{
  padding: 0 0 10px 0;
  line-height: 125%;
}
#purchaseSummary .site_info img {
  margin-top: 3px;
}
body.thankyou #purchaseSummary .unit_info p {
  line-height: 15px;
  margin-bottom: 0px;
}
#purchaseSummary .move_in_info {
  display: block;
}
.move_in_info table.summary {
  width: 100%;
}
.move_in_info table.summary th {
  text-align: left;
  vertical-align: top;
  padding-bottom: 3px;
}
.move_in_info table.summary td {
  font-weight: bold;
  width: 158px;
  text-align: right;
  height: 15px;
  padding-bottom: 3px;
}
#purchaseSummary .cost_details { /*Maybe merge this with existing css for bookingSummary */
  display: none;
}
.cost_details table {
  font-size: 9pt;
}
.cost_details th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  vertical-align: bottom;
  padding: 4px;
}
.cost_details td {
  padding: 4px;
}
.cost_details th.item,
.cost_details td.item {
  text-align: left;
}
.cost_details th.numeric,
.cost_details td.numeric{
  text-align: right;
  white-space: nowrap;
}
.cost_details td.item {
  font-weight: bold;
}
.cost_details td {
  vertical-align: top;
}
.cost_details td.negative {
  color: red;
}
#purchaseSummary .total_cost {
  display: block;
  border-top: 1px solid #ccc;
}
#purchaseSummary .total_cost h2 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #000;
}
#purchaseSummary .total_cost span {
  display: inline-block;
  text-align: right;
  font-weight: bold;
  float: right;
  font-size: 14px;
}
body.thankYou #purchaseSummary .total_cost p {
  font-size: 8pt;
  margin: 5px 0 0;
}
/* search map's info window */
body.serp div.info_window {
    text-align: left;
    padding: 5px;
    float: left;
    width: 285px;
    height: 140px;
    /*font-family: verdana;*/
    display: block;
}
body.serp div.info_window div.info_left {
    display: inline-block;
    width: 170px;
    float: left;
}
body.serp div.info_window div.info_right {
    display: inline-block;
    width: 100px;
}
body.serp div.info_window div.info_left h3.info {
    display: block;
    padding-bottom: 10px;
}
body.serp div.info_window div.info_left h3.info a{
    font-weight: bold;
    font-size: 13px;
    font-family: verdana;
    color: #3ea307;
    /*padding-bottom: 10px;*/
    text-decoration: none;
    /*display: block;*/
    /*position: relative;*/
}
body.serp div.info_window .info_left p {
    line-height: 14px;
    font-size: 12px;
    font-family: helvetica;
    color: #333;
}
body.serp div.info_window .info_left .yelp_rating_map {
    width: 180px;
    height: 50px;
    /*background-color: pink;*/
    padding-top: 10px;
    position: relative;
}
body.serp .info_left .yelp_rating_map img {
    width: 84px;
    height: 17px;
    display: inline-block;
    padding: 2px 5px 0 0;
}
body.serp .info_left .yelp_rating_map span {
    position: absolute;
    font-weight: bold;
    padding-top: 3px;
}
body.serp .info_left .yelp_rating_map .yelp_logo {
    background: url(../images/reviewsFromYelpWHT.gif) no-repeat;
    width: 115px;
    height: 25px;
    display: block;
    text-indent: -9999px;
    background-position: 3px 3px;
    /*margin-left: 25px;*/
}
body.serp div.info_window .info_right img {
    width: 100px;
    height: 80px;
    padding: 1px;
    /*background-color: red;*/
}
body.serp div.info_window .info_right a.site_link {
    width: 96px;
    height: 25px;
    background: url(../images/details-button-96x25.png) no-repeat;
    display: block;
    text-indent: -9999px;
    margin: 9px 0 0 3px;
}
