/* ------------------------------------------------------------------------------------- */
/* GENERIC PAGE STYLES */

body {
  font-family: Verdana;
  font-size: 12px;
  background-image: url(../images/v2/home/backgrounds/topbar.gif);
  background-repeat: repeat-x;
  /*background-color: #fafafa;*/
  background-position: 0 -12px;
  padding-top: 28px;
  padding-left: 97px;
}

p {
  font-family: Helvetica;
  color: #333;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  clear: left;
}

h2 {
  font-size: 13px;
  color: #3ea307;
  margin-bottom: 15px;
}

a:hover {
  text-decoration: underline;
}

.line {
  clear: both;
  width: 100%;
}

.line:after {
  clear: both;
  display: block;
  content: "";
}

/* ------------------------------------------------------------------------------------- */
/* HOME PAGE */

#bigbox, #logos, #info, #browse {
  clear: both;
}

#bigbox, #logos, #info {
  width: 960px;
}

#bigbox {
  height: 285px;
  position: relative;
}

#bigbox h2 {
  font-family: Verdana;
  position: absolute;
  left: 175px;
  top: 5px;
  font-size: 19px;
  font-weight: bold;
  color: #3ea307;
  color: #a8a8a8;
}

#bigbox h2 span:first-child {
  display: block;
  color: #00529b;
  margin-bottom: 2px;
}

#coverphoto {
  height: 225px;
  background: url(../images/v2/home/backgrounds/bigbox.jpg) no-repeat;
  clear: both;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  position: relative;
}

#coverphoto form {
  background: url(../images/v2/home/backgrounds/search-box-horiz-bg.jpg) repeat-x;
  /*background: #f9c9d5;*/
  /*background: #f4eaf0;*/
  width: 488px;
  padding: 15px 20px 13px 20px;
  position: absolute;
  left: 393px;
  top: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 6px lightblue;
  border-color: #3EA307;
}

#coverphoto fieldset.basic legend {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  color: #333;
  color: #3ea307;
  height: 25px;
}

#coverphoto fieldset.basic div.controls {
  clear: both;
  position: relative;
  height: 52px;
}

#coverphoto fieldset.basic input[type=text] {
  position: absolute;
  width: 330px;
}
#coverphoto fieldset.basic input[type=text],
#header form.search input[type=text] {
  display: inline-block;
  height: 37px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 6px lightblue;
  font-family: Helvetica;
  font-size: 18px;
  color: #d1d1d1;
  padding: 2px 0 0 8px;
  margin-top: 1px;
  z-index: 1;
}

#coverphoto fieldset.basic input[type=submit] {
  position: absolute;
  left: 327px;
  display: inline-block;
  width: 145px;
  height: 38px;
  border: none;
  background: url(../images/v2/home/buttons/btn-find-storage-145x38.png) no-repeat;
  text-indent: -9999px;
  z-index: 0;
}

#coverphoto fieldset.advanced legend {
  font-size: 12px;
  font-family: Helvetica;
  margin-bottom: 10px;
  color: #788792;
  cursor: pointer;
}

#coverphoto fieldset.advanced legend span {
  font-size: 10px;
  font-family: Arial;
  cursor: pointer;
}

#advanced_search_controls {
  display: none;
  font-family: Helvetica;
  font-size: 11px;
  color: #333;
}

#advanced_search_controls .storage_type label {
  font-weight: bold;
}

#advanced_search_controls div {
  margin-right: 45px;
  padding-top: 10px;
  display: inline-block;
  float: left;
  height: 60px;
}

#advanced_search_controls label[for=type_parking] {
  color: #788792;
}

#advanced_search_controls .unit_size label, #advanced_search_controls .unit_type label {
  display: block;
  font-style: italic;
  margin-bottom: 3px;
  padding-left: 3px;
}

#advanced_search_controls .unit_size a, #advanced_search_controls .unit_type a {
  position: relative;
  top: -2px;
  left: 2px;
  display: inline-block;
  background: url(../images/v2/home/buttons/info.png) no-repeat;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
}

#logos {
  clear: both;
  color: #9e9e9e;
  height: 54px;
  font-weight: bold;
  font-size: 11px;
  font-family: Helvetica;
  padding-top: 15px;
  vertical-align: bottom;
  background: url(../images/v2/home/backgrounds/partners-bg.jpg) repeat-x;
  margin-bottom: 28px;
}

#logos span {
  display: inline-block;
  float: left;
  width: 88px;
  margin-left: 10px;
  padding-top: 10px;
}

#logos li {
  /*background-position: 25px;*/
  display: inline-block;
  opacity: 0.3;
  float: left;
  /*margin-left: 25px;*/
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 38px;
}

#logos li:hover {
  opacity: 1.0;
}

#logos li.ustoreit {
  width: 112px;
  background-image: url(../images/v2/home/partner-logos/ustoreit.gif);
}

#logos li.storquest {
  width: 115px;
  background-image: url(../images/v2/home/partner-logos/storquest.gif);
}

#logos li.extraspace {
  width: 84px;
  background-image: url(../images/v2/home/partner-logos/extraspace.gif);
}

#logos li.pricess {
  width: 115px;
  background-image: url(../images/v2/home/partner-logos/pricess.gif);
}

#logos li.safkeep {
  width: 124px;
  background-image: url(../images/v2/home/partner-logos/safkeep.gif);
}

#logos li.usstoragecenters {
  width: 114px;
  background-image: url(../images/v2/home/partner-logos/usstoragecenters.gif);
}

#logos li.devon {
  width: 84px;
  background-image: url(../images/v2/home/partner-logos/devon.gif);
}

#logos li.goldenstate {
  width: 92px;
  background-image: url(../images/v2/home/partner-logos/goldenstate.gif);
}

#info {
  margin-bottom: 28px;
}

#howto {
  float: right;
  width: 480px;
}

#guarantee {
  padding-right: 20px;
  width: 460px;
}

#browse {
  background-color: #166EC8;
  border-bottom: 1px solid #0e4ca7;
  width: 960px;
}

#browse ul {
  background: url(../images/v2/home/backgrounds/seo-links-1b72cb-bg.jpg) repeat-y;
  background-color: #166EC8;
  height: 40px;
}

#browse .tabs li {
  float: left;
}

#browse .tabs a {
  display: inline-block;
  color: #ddd;
  font-family: Helvetica;
  float: left;
  width: 192px;
  text-align: center;
  height: 27px;
  padding-top: 14px;
  text-decoration: none;
}

#browse .tabs a:hover, #browse .tabs a.current {
  background: url(../images/v2/home/backgrounds/seo-bg.jpg) repeat-x;
}

#browse .panes div {
  clear: both;
  display: none;
  padding: 20px 0 10px 10px;
  color: white;
  background: url(../images/v2/home/backgrounds/seo-content.jpg) repeat-y;
  position: relative;
}

#browse .panes div a {
  font-size: 12px;
  font-family: Helvetica;
  color: #d3ff87;
  text-decoration: none;
}

#browse .panes div h3 {
  font-size: 13px;
  color: #d3ff87;
  margin-bottom: 15px;
}

#browse .panes div p {
  color: #d9f4ff;
}

#browse .panes div p.right {
  position: absolute;
  left: 577px;
  top: 48px;
  padding-right: 0;
}

#browse .panes div p {
  padding-right: 20px;
  width: 460px;
}

#browse .panes div table {
}

#browse .panes div td {
  text-align: center;
  vertical-align: top;
  width: 183px;
  line-height: 20px;
}

#browse .panes div td a {
  display: block;
}

body.state_directory h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

body.state_directory table {
  width: 960px;
}

body.state_directory td {
  line-height: 20px;
  font-family: Helvetica;
  font-size: 13px;
  padding-right: 10px;
}

body.state_directory td a {
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------- */
/* HEADER & FOOTER */

h1.storitz-logo {
  display: inline-block;
}

h1.storitz-logo a {
  display: inline-block;
  width: 160px;
  height: 60px;
  background: url("../images/v2/home/storitz-logo-small.png") no-repeat;
  text-indent: -9999px;
}

#header {
  width: 960px;
  clear: both;
  position: relative;
}

#header form.search {
  display: inline-block;
  vertical-align: top;
  background: url(../images/v2/home/backgrounds/searchbox-bg.jpg);
  width: 482px;
  position: relative;
  margin-left: 36px;
  margin-top: 5px;
  /*left: 210px;*/
  /*top: 4px;*/
}
#header form.search label {
  font-family: Verdana;
  font-size: 15px;
  color: #3ea307;
  font-weight: bold;
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/v2/masthead/magnifying-glass.png) no-repeat;
  width: 52px;
  height: 58px;
  position: absolute;
  left: -24px;
  z-index: 2;
}
#header form.search input[type=text] {
  width: 388px;
  height: 30px;
  position: absolute;
  top: 4px;
  padding-left: 32px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
#header form.search input[type=submit] {
  position: absolute;
  left: 377px;
  top: 5px;
  display: inline-block;
  width: 99px;
  height: 30px;
  border: none;
  font-weight: bold;
  background: url(../images/v2/masthead/search-btn-99x30.png) no-repeat;
  text-indent: -9999px;

}
#phone_support {
  width: 252px;
  height: 59px;
  line-height: 16px;
  position: absolute;
  top: -10px;
  right: 0;
  background: url(../images/v2/masthead/need-assistance-tollfree.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

#footer {
  border-top: 1px solid #5998d9;
  background: url(../images/v2/home/backgrounds/seo-links-1b72cb-bg.jpg) no-repeat #166EC8;
  height: 20px;
  font-size: 11px;
  font-family: Helvetica;
  color: #e8e8e8;
  padding-top: 10px;
  width: 960px;
  text-align: center;
  border-radius: 0 0 6px 6px;
}

#footer a {
  color: #ddd;
  text-decoration: none;
  margin-left: 10px;
}

#footer a.piped:before {
  content: "|";
  padding-right: 10px;
}

#footer a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------------- */
/* SEARCH RESULTS */

body.serp {
  font-family: Helvetica;
}
body.serp.metro h1 strong {
  font-weight: bold;
}
body.serp.metro h1 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: normal;
}
body.serp .results_container {
  position: relative;
  left: 200px;
  border: 1px solid #ccc;
  width: 760px;
  margin-bottom: 10px;
}
body.serp .panel {
  border-radius: 4px;
  border:  1px solid #ccc;
}
body.serp .panel h2 {
  border-bottom: 1px solid #ccc;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px 8px 12px;
  color: #333;
  margin-bottom: 0px;
  margin-top:4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f0f0f0));
 	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
body.serp .panel > div {
  border-bottom: 1px solid #ccc;
}
body.serp #pickers ul {
  display: block;
  /*padding: 5px;*/
  background-color: #ebebeb;
}
body.serp #pickers li:first-child {
  border-top-width: 0;
}
body.serp #pickers li {
  padding: 5px;
  border-top: 1px solid white;
}
body.serp #pickers {
  width: 190px;
  position: absolute;
}
body.serp #pickers label {
  margin-left: 6px;
}
body.serp #mini_map_canvas {
  width: 190px;
  height: 170px;
  background-color: lightyellow;
}
a#toggle_map_view {
  font-size: 12px;
  color: #0259a0;
  float: right;
}

#search_results {
  font-family: Helvetica;
}
#search_results > li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
  display: block;
}
#search_results > li:first-child {
  border-top-width: 0px;
}
#search_results li > div {
  vertical-align: top;
  display: inline-block;
}

#search_results .facility {
  width: 220px;
  padding-right: 10px;
}

#search_results .photo {
  width: 140px;
}

#search_results .unit_info {
  width: 120px;
}

#search_results .special {
  width: 118px;
}

#search_results .rent_me {
  width: 140px;
  vertical-align: middle;
  text-align: center;
}
#search_results .rent_me a {
  display: inline-block;
  background:  url("../images/v2/buttons/btn-rent-me-110x48.png") no-repeat;
  width: 110px;
  height:48px;
  text-indent: -9999px;
}

#search_results .special {
  font-size: 13px;
  color: #0259a0;
}

#search_results .photo img.thumb {
  height: 92px;
  margin-left: 10px;
}

#search_results .photo img.logo {
  height: 50px;
  margin-left: 10px;
}

#search_results .facility {
  font-size: 12px;
}

#search_results .facility a.name {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;

}

.show_map_popup a {
  text-decoration: none;
}

#search_results a {
  color: #0259a0;
}

#search_results .facility div {
  margin-top: 6px;
}
#search_results .facility .distance {
  font-weight: bold;
}

#search_results .unit_info .dimensions {
  font-weight: bold
}

#search_results .your_price {
  font-size: 16px;
  font-weight: bold;
}

#search_results .list_price {
  font-size: 14px;
  color: #e8111f;
  text-decoration: line-through;
}
#search_results div.permonth {
  font-size: 11px;
  margin-bottom: 6px;
}

#search_results .thumb_frame {
  position: relative;
  width: 120px; /* TODO: Must be smaller for narrower images ... */
  height: 90px;
  margin-left: 10px;
  overflow: hidden;
}

#search_results .thumb_frame img.thumb {
  position: absolute;
  top: -1px;
  left: -11px;
}

#search_results.map .thumb_frame {
  position: relative;
  width: 60px; /* TODO: Must be smaller for narrower images ... */
  height: 45px;
  overflow: hidden;
}

#search_results.map .photo img.thumb {
  height: 46px;
}

#search_results.map .photo img.logo {
  height: 25px;
}

#search_results.map {
  width: 400px;
  height: 546px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #ddd;
  margin-top: 31px;
}

#search_results.map .photo {
  width: 95px;
}

#search_results.map .facility {
  width: 185px;
}

#search_result_labels.map li {
  display: none;
}

#search_results.map .unit_info,
#search_results.map .special,
#search_results.map .rent_button,
#search_results.map .show_map_popup {
  display: none;
}

#map_popup {
  width: 320px;
  height: 345px;
  padding: 5px;
}

#big_map_canvas {
  position: absolute;
  top: -2000px;
  left: 400px;
  width: 546px;
  height: 546px;
  border-color: #ddd;
  border-width: 1px 0;
  border-style: solid;
}

#big_map_canvas.visible {
  float: right;
  position: relative;
  top: 31px;
  left: 0;
}

#map_popup p {
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.tooltip a.close {
  float: right;
}

#maplet_canvas {
  margin-top: 22px;
}

.tooltip {
  padding: 0 10px 5px;
  position: absolute;
  top: 0;
  left: -2000px;
  background: silver;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}