html {
    height:100%;
}
body {
	height:100%;
	color:#000;
	font:9pt Arial, Verdana,sans-serif;
	background:#fff url(../images/bg-header-holder.gif) repeat-x;
	width:947px;
    padding-left: 120px;
    background-position: 0 -10px;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.line {
	clear: both;
	width: 100%;
}
.line:after {
	clear: both;
	display: block;
	content: "";
}
#header {
    position: absolute;
    top: 22px;
    left: 120px;
    height: 108px;
    border-bottom: 1px solid #ddd;
    width: 948px;
}
#header .logo{
	background:url(../images/logo.gif) no-repeat 0 6px;
	float:left;
	height:84px;
	width:250px;
	margin:0 24px 0 0;
	overflow:hidden;
	text-indent:-9999px;
}
#header .text-holder{
	float:left;
    width:381px;
    height:85px;
	text-indent:-9999px;
	overflow:hidden;
	padding:8px 0 0;
    margin:8px 0 0 7px;
    background:url(../images/text-simplify.gif) no-repeat;
}
#header .text-holder .subheading{
	font:bold 1.8em/1.2em "Century Gothic", Arial, Helvetica, sans-serif;
	color:#00529b;
	display:block;
	padding:1px 0 0 15px;
}
#header .text-holder .heading{
	display:block;
	font:bold 2.3em/1em "Century Gothic", Arial, Helvetica, sans-serif;
	color:#65bc44;
	padding:0 0 0 72px;
	min-height:66px;

}
#header .btn-need-assistance{
	float:right;
	width:170px;
	height:60px;
	text-indent:-9999px;
	overflow:hidden;
    margin:5px 0 12px;
	background:url(../images/btn-need-assistance.gif) no-repeat;
}
#footer {
    width: 928px;
    color: #ccc;
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;

}
#footer a {
    color: #ccc;
    text-decoration:underline;
}
#main_container {
    border-width: 0 1px;
    border-color: #ddd;
    border-style: solid;
    width: 100%;
}
.search-form{
	float:right;
	width:194px;
	margin:0 0 5px;
	height:23px;
    width:268px;
    background:url(../images/bg-search-2.gif) no-repeat;
}
.search-form fieldset{
    float:left;
    border: 0px;
    padding-bottom:0px;
}
.search-form legend {
    display: none;
}
.search-form .text{
	float:left;
	width:143px;
	background:none;
	border:0;
	padding:4px 10px;
	margin:0;
	color:#7b7b7b;
	font:11px Arial, Helvetica, sans-serif;
}
.college .search-form .text{
    width:217px;
}
.search-form .submit{
	float:left;
	width:31px;
	height:15px;
	background:none;
	border:0;
	padding:0;
	margin:0;
	cursor:pointer;
    visibility:hidden;
}

#promo{
	width:100%;
    margin: 140px 0 2px 0;
	position:relative;
}
#promo img{
    display:block;
}
#promo p.tagline {
    left:495px;
    top:28px;
    width:393px;
    position:absolute;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	height:61px;
	background:url(../images/text-got-a-few-things.gif) no-repeat;
	margin:0 0 15px;
}
#promo p {
    position:absolute;
    top:110px;
    left:495px;
	width:209px;
	color:#a9a8a8;
	font-size:14px;
	line-height:20px;
}
#promo p a {
	font-weight:bold;
	color:#fff;
}
#promo p em {
	font-style:italic;
	font-weight:bold;
	color:#b8cb1c;
}
#promo .photo_credit {
    position:absolute;
    top:249px;
    left:780px;
    color: #6e6e6e;
}
#promo .photo_credit a {
    color: #6e6e6e;
    text-decoration: underline;
}

#rebate_tile {
    display: block;
	width:198px;
	height:116px;
	position:absolute;
	left:220px;
	top:-5px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-rent-online-today.gif) no-repeat;
}

a:link, a:visited { font-weight: normal; }

.college h1{
    height:20px;
    overflow:hidden;
    padding:14px 0 10px 137px;
    text-align:center;
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:-1px -1px 1px #000;
    margin:0 0 2px;
    font-weight: bold;
}
.college h1 span{
    color:#fff;
}
#secondary-color {
    height:25px;
    overflow:hidden;
    vertical-align: middle;
    padding-top: 6px;
    padding-right: 3px;
    text-align: right;
    text-shadow:1px 1px 1px #a1803c;
}
#college_logo{
    position:absolute;
    top:383px;
    left:137px;
    width:130px;
    height:131px;
}
#search_result_labels {
    margin-top: 10px;
}
#search_result_labels li {
    display: block;
    float: left;
    color: #a7a7a7;
    font-size: 14px;
    padding-bottom: 5px;
}
#search_results > li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
}
#search_results li > div.cell {
    display: block;
    float: left;
}
#search_result_labels .facility {
    width: 215px;
}
#search_results .facility {
    width: 205px;
    padding-right: 10px;
}
#search_result_labels .photo {
    width: 160px;
}
#search_results .photo {
    width: 160px;
}
#search_result_labels .unit_info, #search_results .unit_info {
    width: 150px;
}
#search_result_labels .special, #search_results .special {
    width: 160px;
}
#search_result_labels .price, #search_results .price {
    width: 120px;
}
#search_result_labels .rent_button, #search_results .rent_button {
    width: 142px;
    vertical-align: middle;
}

#search_results .special {
    color: #0259a0;
    font-size: 13px;
}

#search_results .photo img.thumb {
    height: 92px;
    margin-left: 10px;
}

#search_results .photo img.logo {
    height: 50px;
    margin-left: 20px;
}

#search_results .facility {
    font-size: 12px;
}

#search_results .facility .name {
    color: #0259a0;
    font-size: 14px;
    font-weight: bold;
}
.show_map_popup a {
    color: #0259a0;
}

#search_results .facility .distance {
    font-weight: bold;
}


#search_results .unit_info .dimensions {
    font-weight: bold
}

#search_results .your_price {
    font-size: 15px;
    font-weight: bold;
}

#search_results .list_price {
    font-size: 13px;
    color: #e8111f;
    text-decoration: line-through;
}

#search_results .thumb_frame {
    position: relative;
    width: 120px; /* TODO: Must be smaller for narrower images ... */
    height: 90px;
    margin-left: 20px;
    overflow: hidden;
}
#search_results .thumb_frame img.thumb {
    position: absolute;
    top: -1px;
    left: -11px;
}
#search_result_labels .unit_info a {
    font-size: 11px;
    color: #0259a0;
    font-weight: normal;
}
#search_results.map .thumb_frame {
    position: relative;
    width: 60px; /* TODO: Must be smaller for narrower images ... */
    height: 45px;
    overflow: hidden;
}
#search_results.map .photo img.thumb {
    height: 46px;
}
#search_results.map .photo img.logo {
    height: 25px;
}
#big_map_canvas {
    position: absolute;
    top: -2000px;
    left: 400px;
    width: 546px;
    height: 546px;
    border-color: #ddd;
    border-width: 1px 0;
    border-style: solid;
}
#big_map_canvas.visible {
    float: right;
    position: relative;
    top: 31px;
    left: 0;
}
#search_results.map {
    width: 400px;
    height: 546px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
    margin-top: 31px;
}
#search_results.map .photo {
    width: 95px;
}
#search_results.map .price {
    width: 85px;
}
#search_results.map .facility {
    width: 185px;
}

#search_result_labels.map li {
    display: none;
}
#search_results.map .unit_info,
#search_results.map .special,
#search_results.map .rent_button,
#search_results.map .show_map_popup {
    display:none;
}
#map_popup {
    width: 320px;
    height: 345px;
    padding: 5px;
}
#map_popup p {
    float: left;
    font-weight: bold;
    font-size: 15px;
}
.tooltip a.close {
    float: right;
}
#rebate_panel {
    display: none;
    height: 195px;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    color: white;
}
#rebate_panel dl {
    position: relative;
    border-top: 1px solid white;
    padding-top: 20px;
    margin: 60px;
    margin-top: 5px;
}
#rebate_panel dt {
    position: absolute;
    font-family: Verdana;
    font-weight: bold;
    left: 46px;
}
#rebate_panel dd {
    position: absolute;
    left: 296px;
    width: 490px;
    text-align: left;
    text-align: left;
}
#rebate_panel a.close, #college_tips_panel a.close {
    color: white;
    float: right;
    margin-right: 20px;
    border: 1px solid white;
    padding: 5px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#college_tips_panel a.close {
    color: #bbb;
    border: 1px solid #bbb;
    margin-right: 10px;
    margin-top: 13px;
}

#maplet_canvas {
    margin-top: 22px;
}
.tooltip {
    padding: 0 10px 5px ;
    position: absolute;
    top: 0;
    left: -2000px;
    background: silver;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#search_results li .admin_strip {
    position: absolute;
    background-color: #e0ffff;
    top: 10px;
    left: -90px;
    width: 85px;
    border: 1px solid #bbb;
    padding: 5px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

body.college_storage_tips {
    background-image: none;
    background: white;
    font-size: 15px;
    width: 919px;
    padding-left: 120px;
    margin-top: 150px;
}

.college_storage_tips h1 {
    font-family: Verdana;
    font-size: 26px;
    color: #04529d;
}

.college_storage_tips h1, .college_storage_tips h2, .college_storage_tips h3 {
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 7px;
}

.college_storage_tips h1, .college_storage_tips h2, .college_storage_tips p {
    padding-left: 15px;
}

.college_storage_tips h2, .college_storage_tips p {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
}

.college_storage_tips p {
    margin-left: 250px;
    padding-top: 8px;
    line-height: 24px;
    margin-bottom: 15px;
}

.college_storage_tips h2 {
    font-size: 16px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #333;
}

.college_storage_tips h3 {
    font-size: 15px;
    float: left;
    margin-left: 15px;
}
.college_storage_tips h3 {
    margin-top: 11px;
}

.college_storage_tips h3 .numeral {
    float: left;
    display: inline-block;
    background:  url("../images/blue-dot.png") no-repeat;
    width: 30px;
    height: 30px;
    color: white;
    padding: 5px 0 0 10px;
    margin-top: -5px;
    font-size: 13px;
}

.college_storage_tips .section {
    clear: both;
}

.college_storage_tips.min #header, .college_storage_tips.min #footer {
    display: none;
}
body.college_storage_tips.min {
    padding-left: 10px;
    margin-top: 0;
}

#college_tips_button {
    display: block;
    position: absolute;
    left: 1068px;
    top: 338px;
    width: 57px;
    height: 149px;
    background-image: url("../images/college-tips-tab.png");
    text-indent:-9999px;
}

#college_tips_panel {
    display: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#college_tips_panel iframe {
    width: 947px;
    height: 1526px;
}



