html {
    height:100%;
}
body {
	height:100%;
	color:#000;
	font:9pt Arial, Verdana,sans-serif;
	background:#fff url(../images/bg-header-holder.gif) repeat-x;
	width:947px;
    padding-left: 120px;
    background-position: 0 -10px;
}
a {
	color:#000;
	text-decoration:none;
}
#phone_support {
    right: 12px;
}
#footer {
    width: 928px;
    margin-left: 0;
    color: #ccc;
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;

}
#footer a {
    color: #ccc;
    text-decoration:underline;
}
#main_container {
    border-width: 0 1px;
    border-color: #ddd;
    border-style: solid;
    width: 100%;
}
.search-form{
	float:right;
	width:194px;
	margin:0 0 5px;
	height:23px;
    width:268px;
    background:url(../images/bg-search-2.gif) no-repeat;
}
.search-form fieldset{
    float:left;
    border: 0px;
    padding-bottom:0px;
}
.search-form legend {
    display: none;
}
.search-form .text{
	float:left;
	width:143px;
	background:none;
	border:0;
	padding:4px 10px;
	margin:0;
	color:#7b7b7b;
	font:11px Arial, Helvetica, sans-serif;
}
.college .search-form .text{
    width:217px;
}
.search-form .submit{
	float:left;
	width:31px;
	height:15px;
	background:none;
	border:0;
	padding:0;
	margin:0;
	cursor:pointer;
    visibility:hidden;
}

#promo{
	width:100%;
    margin: 30px 0 2px 0;
	position:relative;
}
#promo img{
    display:block;
}
#promo p.tagline {
    left:495px;
    top:28px;
    width:393px;
    position:absolute;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	height:61px;
	background:url(../images/text-got-a-few-things.gif) no-repeat;
	margin:0 0 15px;
}
#promo p {
    position:absolute;
    top:110px;
    left:495px;
	width:209px;
	color:#a9a8a8;
	font-size:14px;
	line-height:20px;
}
#promo p a {
	font-weight:bold;
	color:#fff;
}
#promo p em {
	font-style:italic;
	font-weight:bold;
	color:#b8cb1c;
}
#promo .photo_credit {
    position:absolute;
    top:249px;
    left:780px;
    color: #6e6e6e;
}
#promo .photo_credit a {
    color: #6e6e6e;
    text-decoration: underline;
}

#rebate_tile {
    display: block;
	width:198px;
	height:116px;
	position:absolute;
	left:220px;
	top:-5px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-rent-online-today.gif) no-repeat;
}

a:link, a:visited { font-weight: normal; }

.college h1{
    height:20px;
    overflow:hidden;
    padding:14px 0 10px 137px;
    text-align:center;
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:-1px -1px 1px #000;
    margin:0 0 2px;
    font-weight: bold;
}
.college h1 span{
    color:#fff;
}
#secondary-color {
    height:25px;
    overflow:hidden;
    vertical-align: middle;
    padding-top: 6px;
    padding-right: 3px;
    text-align: right;
    text-shadow:1px 1px 1px #a1803c;
}
#college_logo{
    position:absolute;
    top:365px;
    left:137px;
    width:130px;
    height:131px;
}
#rebate_panel {
    display: none;
    height: 195px;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    color: white;
}
#rebate_panel dl {
    position: relative;
    border-top: 1px solid white;
    padding-top: 20px;
    margin: 60px;
    margin-top: 5px;
}
#rebate_panel dt {
    position: absolute;
    font-family: Verdana;
    font-weight: bold;
    left: 46px;
}
#rebate_panel dd {
    position: absolute;
    left: 296px;
    width: 490px;
    text-align: left;
    text-align: left;
}
#rebate_panel a.close, #college_tips_panel a.close {
    color: white;
    float: right;
    margin-right: 20px;
    border: 1px solid white;
    padding: 5px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#college_tips_panel a.close {
    color: #bbb;
    border: 1px solid #bbb;
    margin-right: 10px;
    margin-top: 13px;
}

#search_results li .admin_strip {
    position: absolute;
    background-color: #e0ffff;
    top: 10px;
    left: -90px;
    width: 85px;
    border: 1px solid #bbb;
    padding: 5px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

body.college_storage_tips {
    background-image: none;
    background: white;
    font-size: 15px;
    width: 919px;
    padding-left: 120px;
    margin-top: 150px;
}

.college_storage_tips h1 {
    font-family: Verdana;
    font-size: 26px;
    color: #04529d;
}

.college_storage_tips h1, .college_storage_tips h2, .college_storage_tips h3 {
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 7px;
}

.college_storage_tips h1, .college_storage_tips h2, .college_storage_tips p {
    padding-left: 15px;
}

.college_storage_tips h2, .college_storage_tips p {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
}

.college_storage_tips p {
    margin-left: 250px;
    padding-top: 8px;
    line-height: 24px;
    margin-bottom: 15px;
}

.college_storage_tips h2 {
    font-size: 16px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #333;
}

.college_storage_tips h3 {
    font-size: 15px;
    float: left;
    margin-left: 15px;
}
.college_storage_tips h3 {
    margin-top: 11px;
}

.college_storage_tips h3 .numeral {
    float: left;
    display: inline-block;
    background:  url("../images/blue-dot.png") no-repeat;
    width: 30px;
    height: 30px;
    color: white;
    padding: 5px 0 0 10px;
    margin-top: -5px;
    font-size: 13px;
}

.college_storage_tips .section {
    clear: both;
}

.college_storage_tips.min #header, .college_storage_tips.min #footer {
    display: none;
}
body.college_storage_tips.min {
    padding-left: 10px;
    margin-top: 0;
    padding-top: 0;
}

#college_tips_button {
    display: block;
    position: absolute;
    left: 1068px;
    top: 338px;
    width: 57px;
    height: 149px;
    background-image: url("../images/college-tips-tab.png");
    text-indent:-9999px;
}

#college_tips_panel {
    display: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#college_tips_panel iframe {
    width: 947px;
    height: 1275px;
}



