#login {
	margin:15px 0px; padding:0px;
	text-align:center;
}
#login .inner {
	width:350px;
	margin:0px auto;
	text-align:left;
	padding:10px;
	border-top:1px dashed #499ede;
	border-bottom:1px dashed #499ede;
	background-color:#EEF;
    color: #154A99;
}

#login .inner .fheader {
	padding:4px;margin:3px 0px 3px 0;font-size:14px;font-weight:bold;
}
#login .inner .cssform p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 105px;
	border-top: 1px dashed gray;
	margin-bottom: 10px;
	height: 1%;
}
#login .inner .cssform label {
	font-weight: bold;
	float: left;
	margin-left: -105px;
	width: 100px;
}
#login .inner .login_message {color:red; background-color:white;}
#login .inner .text_ {width:120px;}
#login .inner .chk {height:12px;}
