/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

html, body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    min-width: 1000px;
    min-height: 594px;
    padding: 0px;
    margin: 0px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
} 

h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;	
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

tr th {
    background: transparent;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;	
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

.errorField {
    border: 1px solid red;
    background-color: lightgoldenrodyellow;
}

input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required, select.required, checkbox.required {
	border: 1px solid #052d72;
}

input.validation-failed, div.validation-failed, textarea.validation-failed, select.validation-failed, checkbox.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}

input.validation-passed, div.validation-passed, textarea.validation-passed, select.validation-passed, checkbox.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

/* TABLES */


/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

.checkout_value {
    text-align: left;
    float: left;
}

.checkout_name {
    text-align: left;
    white-space: nowrap;
    float: left;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons a {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
    text-decoration: none;
}
.buttons a.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/*

Added styles
*/

.noborder {
    border-style: none;
}

#stcontent {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#topnav {
    height: 26px;
    background-image: url("../images/bkg_topbar.gif");
}

#tollFree {
    font: 16px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #3fac00;
    float: right;
    margin-top: -35px;
    margin-right: 50px;
    z-index: -10;
}

#footer {
    height: 360px;
    background-image: url("../images/bkg_footer.gif");
    color: white;
}

.small {
    font-size: 8px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.bold {
    font-weight: bolder;
}

.large {
    font-size: 13px;
}

#search {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-spacing: 2px;
    background-image: url("../images/bkg_searchform.gif");
    background-color: #fff;
    padding: 3px;
    width: 250px;
    height: 367px;
    float: left;
}

#gmap {
    width: 718px;
    float: left;
}

#map_canvas {
    width: 710px;
    height: 375px;
}

#stresults_div {
    padding-right: 30px;
}

#stresults_div table {
    font-size: 10px;
    width: 100%;
}

#price_table, #price_totals {
    font-size: 12px;
    font-weight: bold;
    width: 666px;
}

.checkout_header {
    font-size: 12px;
    font-weight: bold;
    width: 666px;
    padding-top: 8px;
    padding-left: 10px;
}

.checkout_section_header {
    background-color: #f1f8e9;
    color: #052d72;
    font-weight: bold;
    font: 13px verdana, arial, helvetica, sans-serif;
    width: 646px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.checkout_fields {
    padding-top: 10px;
    padding-left: 20px;
}

.checkout_labels {
    padding-bottom: 10px;
    padding-left: 20px;
    color: #154A99;
}

#price_table thead, #price_totals tfoot, table.checkout_table thead {
    color: white;
}

#stresults_div td, #stresults_div th, #price_table td, #price_table th, #price_totals th, #price_totals td, #checkout_price_table th, #checkout_price_table td, #checkout_price_totals th, #checkout_price_totals tbody td, #rentalForm td, #rentalForm th {
	padding: 0.5em;
	border: 0px;
	/*white-space: nowrap;
	overflow: hidden;*/
}

#instructions {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bolder;
    color: #052d72;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

#sizeHelp {
    position: absolute;
    background-color: white;
}

#sizeHelpContents {
    font-size: 10px;
}

.srText {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #052d72;
    padding: 0.25em 0.25em 0.25em 0.65em;
}

.no_underline {
    text-decoration: none;
}

.addrwidth {
    width: 30%;
}

.distwidth {
    width: 7%;
}

.pricewidth {
    width: 7%;
}

.white {
    color: white;
}

.textCenter {
    text-align: center;
}

.specialOfferText {
    text-align: left;
}

.title {
    font-weight: bold;
    font-size: 15px;
    padding: 0.5em;
}

#map {
    width: 360px;
    height: 300px;
    padding: 10px 5px;
    float: right;    
}

#site_logo {
    float: left;
    width: 120px;
    height: 120px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#site_address {
    float: left;
    width: 180px;
    margin: 1em;
}

#detail_tabs {
    float: right;
}

.tab_button {
    background-image: url(../images/btn-blue-121x24.png);
    background-repeat: no-repeat;
    width: 121px;
    height: 24px;
    margin: 10px 5px 5px 5px;
}

#directions {
    padding: 0.5em;
    width: 260px;
}

.tab_spacer {
    width: 121px;
    height: 24px;
    margin: 10px 5px 5px 5px;
}

.button_text_hi {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: white;
}

.button_text {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 21px;
    color: #154a99;
}

.left {
    float: left;
}

.right {
    float: right;
}

.vert_text {
    line-height: 25px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.step_header {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #003883;
    margin-right: 15px;
}

.step_header_hi {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #3fac00;
    margin-right: 20px;
}

.section_header {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #154A99;
}

.icon_text {
    font: 11px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #154A99;
}

.other_details {
    background-image: url(../images/bkg-tablehead-300x30.gif);
    background-repeat: no-repeat;
    width: 300px;
    height: 30px;
    display: block;
}

.order_summary_top {
    background-image: url(../images/bkg-order-summary-top.gif);
    background-repeat: no-repeat;
    width: 300px;
    height: 31px;
    display: block;
}

.order_summary_bottom {
    background-image: url(../images/bkg-order-summary-bottom.gif);
    background-repeat: no-repeat;
    width: 300px;
    height: 31px;
    display: block;
}

.header_text_hi {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    padding: 0 0 0 20px;
    color: white;
}

.header_text_hi_right {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px 0 0;
    color: white;
}


.price_options {
    background-image: url(../images/bkg-tablehead-666x30.gif);
    background-repeat: no-repeat;
    width: 666px;
    height: 30px;
    display: block;
    position: relative;
}

.price_text {
    text-align: right;
}

.specialOfferText {
    color: green;
}

.tooltip {
    width: auto;
      padding: 3px 7px 4px 6px;
      border: 1px solid #336;
      background-color: #f7f7ee;
      font: normal 0.9em/1.2em arial, helvetica, sans-serif;
      text-align: left;
      color: #000;
}

#price_total {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

.returnLink a:link, .returnLink a:visited, .returnLink a:hover {
    color: green;
    text-decoration: none;
}

.bullet {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.rowhighlight {
    border: 1px solid #3fac00;
;
}

