/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

html, body {
/*  background: #fff; */
    background: #0558a4;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    min-width: 1000px;
    min-height: 594px;
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
} 

h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;	
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

#body {
    background: #fff;
    width: 100%;
}

select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

tr th {
    background: transparent;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0 no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

.errorField {
    border: 1px solid red;
    background-color: #fafad2;
}

input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required, select.required, checkbox.required {
	border: 1px solid #052d72;
}

input.validation-failed, div.validation-failed, textarea.validation-failed, select.validation-failed, checkbox.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}

input.validation-passed, div.validation-passed, textarea.validation-passed, select.validation-passed, checkbox.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

/* TABLES */


/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

.checkout_value {
    text-align: left;
    float: left;
}

.checkout_name {
    text-align: left;
    white-space: nowrap;
    float: left;
}

/* ACTION BUTTONS */

.buttons {
    font-size: 10px;
    display: block;
}

.buttons a, .buttons input {
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
}

/*

Added styles
*/

.noborder {
    border-style: none;
}

#stcontent {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#topnav {
    height: 26px;
    background-image: url("../images/bkg_topbar.gif");
}

#tollFree {
    font-weight: bold;
    color: #3fac00;
    float: right;
    margin-top: -33px;
    margin-right: 35px;
    z-index: -10;
}

#footer {
    height: 360px;
    background-image: url("../images/bkg_footer.gif");
    color: white;
}

.small {
    font: 11px verdana, arial, helvetica, sans-serif;
}

.bold {
    font-weight: bolder;
}

.large {
    font-size: 13px;
}

.blue {
    color: #154A99;
}

.green {
    color: #3fac00;
}

#search {
    width: 280px;
    height: 339px;
    float: left;
}

.inputBox {
    font: 13px verdana, arial, helvetica, sans-serif;
    width: 215px;
    height: 20px;
    color: #154A99;
    border-color: #72797F;
}

input.inputBox:focus {
    border: #154A99 solid 2px;
}

.inputSelect {
    font: 13px verdana, arial, helvetica, sans-serif;
    width: 200px;
    line-height: 20px;
    color: #154A99;
    border-color: #72797f;
}

#gmap {
    background: #fff url("../images/map-frame-wide.png") no-repeat;
    width: 650px;
    height: 321px;
    padding: 9px;
    float: left;
}

#map_canvas {
    width: 650px;
    height: 321px;
}

div.resultsBar {
    background: #fff url("../images/bar-search-results-wide-950.gif") no-repeat;
    width: 920px;
    padding-left: 30px;
    color: white;
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
}

#stresults_div table {
    width: 950px;
}

#price_table, #price_totals {
    color: #154b99;
    font-size: 12px;
    font-weight: bold;
    width: 666px;
}

.checkout_header {
    font-size: 12px;
    font-weight: bold;
    width: 666px;
    padding-top: 8px;
    padding-left: 10px;
}

.checkout_section_header {
    background-color: #f1f8e9;
    color: #154b99;
    font-weight: bold;
    font: 13px verdana, arial, helvetica, sans-serif;
    width: 646px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.checkout_fields {
    padding-top: 10px;
    padding-left: 20px;
}

.checkout_labels {
    padding-bottom: 10px;
    padding-left: 20px;
    color: #154A99;
}

#price_table thead, #price_totals th, table.checkout_table thead {
    color: white;
}

#price_table td, #price_table th, #price_totals th, #price_totals td, #checkout_price_totals th, #checkout_price_totals td, #rentalForm td, #rentalForm th {
	padding: 0.5em;
	border: 0;
    display: table-cell;
    border-collapse: collapse;
	/*white-space: nowrap;
	overflow: hidden;*/
}
#checkout_price_table, #checkout_price_totals {
    color: #154b99;
}

#stresults_div td, #stresults_div th {
    border: 0;
    display: table-cell;
    border-collapse: collapse;
}

#checkout_price_table th, #checkout_price_table td {
    padding: 0 0.5em;
    border: 0;
    /*white-space: nowrap;
    overflow: hidden;*/
}

#checkout_price_totals tr {
    border-left: #154A99 1px solid;
}

#price_totals td {
    padding: 15px 20px;
}

#checkout_price_totals_body td.borderRight {
    border-right: #154A99 1px solid;
}

#checkout_price_totals td {
    border-left: 0;
    border-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

#instructions {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bolder;
    color: #154A99;
    font-size: 14px;
    padding-left: 15px;
}

#sizeHelp {
    position: absolute;
    background-color: white;
    border: 4px solid #0971C2;
}

#sizeHelpContents {
    font-size: 10px;
}

#helpHeader {
    background: url(../images/bkg-storage-sizes-header2.jpg) no-repeat;
    width: 524px;
    height: 59px;
    color: white;
}

#helpHeaderText {
    font: 18px verdana;
    margin-left: 55px;
    line-height: 59px;
    float: left;
}

#helpClose {
    font: 10px verdana;
    color: #a3d2f2;
    float: right;
    margin: 10px;
}

div.helpBox {
    float: left;
    padding: 2px 5px 1px 10px;
    width: 110px;
    height: 60px;
}

.helpBoxText {
    float: left;
    padding: 2px 5px 1px 5px;
    height: 60px;
    width: 385px;
    display: table;
}

div.helpBoxSeparator {
    clear: both;
    width: 504px;
    height: 1px;
    margin: 0 10px;    
    border-bottom: #9f9f9f dotted thin;
}

.helpBoxTextTitle {
    font: bold 11px verdana;
    color: #0867b5;
}

.helpBoxTextBody {
    font: 11px verdana;
    color: #333;
}

.helpBoxTextHolder {
    display: table-cell;
    vertical-align: middle;
}

.srText {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #052d72;
    padding: 0.25em 0.25em 0.25em 0.65em;
}

a.siteTitle:link, a.siteTitle:visited, a.siteTitle:hover {
    color: #3fac00;
    text-decoration: none;
    font-weight: bold;
}

a.unitPrice:link, a.unitPrice:visited, a.unitPrice:hover {
    color: #3fac00;
    font-weight: bold;
}

.no_underline {
    text-decoration: none;
}

.addrwidth {
    width: 25%;
}

.distwidth {
    width: 9%;
}

.pricewidth {
    width: 9%;
}

.white {
    color: white;
}

.textCenter {
    text-align: center;
}

.specialOfferText {
    text-align: left;
}

.title {
    font-weight: bold;
    font-size: 15px;
    padding: 0.5em 0;
}

#map {
    background: url(../images/map-frame.png) no-repeat;
    width: 334px;
    height: 285px;
    padding: 10px;
    float: right;    
}

#site_address {
    float: left;
    width: 180px;
    margin: 0.5em 0;
    line-height: 16px;
    font-size: 11px;
}

.siteInfoText {
    line-height: 16px;
    font-size: 11px;
}

#detail_tabs {
    float: right;
}

.tab_button_on {
    background: url(../images/btn-gallery-on.png) no-repeat;
    width: 154px;
    height: 30px;
    margin: 0 5px 12px 5px;
    cursor:pointer;
}

#directions {
    padding: 0.5em;
    width: 260px;
}

.tab_button_off {
    background: url(../images/btn-gallery-off.png) no-repeat;
    width: 154px;
    height: 30px;
    margin: 0 5px 12px 5px;
    cursor:pointer;
}

.button_text_hi {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: white;
}

.button_text {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #154a99;
}

.left {
    float: left;
}

.right {
    float: right;
}

.vert_text {
    line-height: 25px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.step_header {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #003883;
    margin-right: 15px;
}

.step_header_hi {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #3fac00;
    margin-right: 20px;
}

.section_header {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

.left15 {
    margin-left: 15px;
}

.icon_text {
    font: 11px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    color: #154A99;
    padding: 3px 1em;
}

.featuredOfferText {
    font: 11px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #154A99;
    padding: 0 0 0 5px;
}

.featuredOfferHeader {
    color: #333;
    line-height: 14px;
    font-size: 10px;
    font-weight: normal;
    width: 290px;
}

.formInstructions {
    color: #333;
    line-height: 14px;
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 1em;
    width: 666px;
}

.other_details {
    background: url(../images/bkg-tablehead-300x30.gif) no-repeat;
    width: 280px;
    height: 30px;
    display: block;
}

.order_summary_top {
    background: url(../images/bkg-order-summary-top.gif) no-repeat;
    width: 280px;
    height: 31px;
    display: block;
}

.order_summary_bottom {
    background: url(../images/bkg-order-summary-bottom.gif) no-repeat;
    width: 300px;
    height: 31px;
    display: block;
}

.header_text_hi {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    padding: 0 0 0 20px;
    color: white;
}

.header_text_hi_right {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px 0 0;
    color: white;
}

.price_options {
    background: url(../images/bkg-tablehead-666x30.gif) no-repeat;
    width: 666px;
    height: 30px;
    line-height: 20px;
    display: block;
    position: relative;
    color: white;
}

.price_text {
    text-align: right;
}

.pointer {
    cursor: pointer;
}

.specialOfferText {
    color: #3fac00;
}

.tooltip {
    width: auto;
    padding: 3px 7px 4px 6px;
    border: 1px solid #336;
    background-color: #f7f7ee;
    font: normal 0.9em/1.2em arial, helvetica, sans-serif;
    text-align: left;
    color: #000;
}

#price_total {
    font: 13px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

.distance {
    font: 11px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

.returnLink {
    color: #3fac00;
}

.returnLink a:link, .returnLink a:visited, .returnLink a:hover {
    color: #3fac00;
    text-decoration: none;
}

.bullet {
    color: #3fac00;
    font-weight: bold;
    font-size: 20px;
}

.rowhighlight {
    border: 1px solid #3fac00;
}

#imgFrame {
    height: 240px;
    width: 320px;
    border: 1px solid #b9c0c8;
    background: url(../images/gallery-backplate.jpg) no-repeat;
}

#imgFrame img {
    vertical-align:middle;
    margin:0 auto;
}

#thumbWrapper {
	overflow:hidden;
	padding:4px 2px;
	width: 236px;
	float:left;
	height:46px;
	position: relative;
}

#items{
	margin: 0;
	padding: 0;
	list-style:none;
	width:50000px;
	position: relative;
	letter-spacing: 0;
}
#items li{
	float:left;
	list-style:none;
	margin-right:2px;
}
#items .thumb{
	width:60px;
	height:40px;
	cursor:pointer;
	margin: 0;
	padding: 0;
}
#items .large{
	display:none;
	position:absolute;
}

div.leftArrowNull {
    height: 46px;
    width: 44px;
    background: url("../images/btn-gallery-left-arrow-null.gif") no-repeat;
}

div.arrowEmpty {
    height: 46px;
    width: 44px;
}

div.leftArrowActive {
    height: 46px;
    width: 44px;
    background-image: url("../images/btn-gallery-left-arrow-active.gif");
    background-repeat: no-repeat;
}

div.leftArrowActive:hover {
    height: 46px;
    width: 44px;
    background-image: url("../images/btn-gallery-left-arrow-hover.gif");
    background-repeat: no-repeat;
}

div.rightArrowNull {
    height: 46px;
    width: 44px;
    background-image: url("../images/btn-gallery-right-arrow-null.gif");
    background-repeat: no-repeat;
}

div.rightArrowActive {
    height: 46px;
    width: 44px;
    background-image: url("../images/btn-gallery-right-arrow-active.gif");
    background-repeat: no-repeat;
}

div.rightArrowActive:hover {
    height: 46px;
    width: 44px;
    background: url("../images/btn-gallery-right-arrow-hover.gif") no-repeat;
}

.galleryNormal {
    margin: 3px 0;
    border: 1px solid #b9c0c8;
}

.gallerySelected {
    border: 3px solid #024a94;
}

.expanding, .tableLine {
    border-top: #708090 dotted thin;
    padding: 1em 0;
}

.strow {
    border-bottom: #708090 dotted thin;
}

.stVert {
    padding: 1.5em 0;
}

.expanding a, .expanding a:visited {
    color: #3fac00;
}

.timeInput {
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.dateInput {
    background-image: url("../images/icn-calendar.png");
    background-repeat: no-repeat;
    background-position: right center;
}

#staticMenu {
    width: 280px;
}

.legalHeader {
    font-weight: bold;
}

.nodot {
    list-style: none;
}

.checkBoxText {
    float: left;
    margin-left: 1.5em;
    width: 600px;
}

a.footer:link, a.footer:visited, a.footer:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.button a, .button input {
    background: #3fac00;
    border: 2px #fff solid;
    color: #fff;
    padding: 10px 15px;
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    display: inline-block;
}

.button a:hover, .button input:hover {
    background: #3fac00;
    border: 2px #006400 solid;
    color: #fff;
    padding: 10px 15px;
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
}