/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

html, body {
    background: #fff;
    color: #333;
    font: 11px "century gothic", verdana, arial, helvetica, sans-serif;
    min-width: 1000px;
    min-height: 594px;
    padding: 0px;
    margin: 0px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
} 

h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;	
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;	
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */


/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/*

Added styles
*/

.noborder {
    border-style: none;
}

#stcontent {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#topnav {
    height: 26px;
    background-image: url("../images/bkg_topbar.gif");
}

#footer {
    height: 360px;
    background-image: url("../images/bkg_footer.gif");
    color: white;
}

.small {
    font-size: 8px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.bold {
    font-weight: bolder;
}

.large {
    font-size: 13px;
}

#search {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-spacing: 2px;
    background-image: url("../images/bkg_searchform.gif");
    background-color: #fff;
    padding: 3px;
    width: 250px;
    height: 367px;
    float: left;
}

#gmap {
    width: 718px;
    float: left;
}

#map_canvas {
    width: 710px;
    height: 375px;
}

#stresults_div {
    padding-right: 30px;
}

#stresults_div table {
    font-size: 10px;
    width: 100%;
}

#stresults_div td, #stresults_div th {
	padding: 0.5em;
	border: 0px solid #CCC;
	/*white-space: nowrap;
	overflow: hidden;*/
}

#instructions {
    font-family: 'century gothic';
    font-weight: bolder;
    color: #052d72;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

#sizeHelp {
    position: absolute;
    background-color: white;
}

#sizeHelpContents {
    font-size: 10px;
}

.srText {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #052d72;
    padding: 0.25em 0.25em 0.25em 0.65em;
}

.no_underline {
    text-decoration: none;
}

.addrwidth {
    width: 30%;
}

.distwidth {
    width: 7%;
}

.pricewidth {
    width: 7%;
}

.white {
    color: white;
}

.textCenter {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 15px;
    padding: 0.5em;
}

#map {
    width: 300px;
    height: 300px;
    padding: 10px 5px;
    float: right;    
}

#site_info {
    float: left;
}

#site_logo {
    float: left;
    width: 120px;
    height: 120px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#site_address {
    float: left;
    margin: 1em;
}

#detail_tabs {
    float: right;
}

.tab_button {
    background-image: url(../images/btn-blue-121x24.png);
    background-repeat: no-repeat;
    width: 121px;
    height: 24px;
    margin: 10px 5px 5px 5px;
}

.tab_spacer {
    width: 121px;
    height: 24px;
    margin: 10px 5px 5px 5px;
}

.button_text_hi {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: white;
}

.button_text {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 21px;
    color: #154a99;
}

.left {
    float: left;
}

.right {
    float: right;
}

.vert_text {
    line-height: 25px;
}

.step_header {
    font: 14px "century gothic", verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #003883;
    margin: 10px 20px;
}

.step_header_hi {
    font: 14px "century gothic", verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #3fac00;
    margin: 10px 20px;
}

.section_header {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #154A99;
}

.icon_text {
    font: 11px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #154A99;
}

.other_details {
    background-image: url(../images/bkg-tablehead-257x30.gif);
    background-repeat: no-repeat;
    width: 257px;
    height: 30px;
}
